[2019-11-11 14:09] middlestone commented on #256
I find the root cause, it is caused by configmap not take effect. thanks Diogo for your help.

[2019-11-11 14:11] middlestone commented on #256
I find the root cause, it is caused by configmap not take effect. thanks Diogo for your help.

[2019-11-11 14:11] #256 closed

[2019-11-12 07:32] zhaofengcumt opened #257 "loading OpenAPI spec for "v1beta1.metrics.k8s.io" failed with: OpenAPI spec does not exists"
my  kube-api-server version 1.12.6

this is the log of kube-api-server
[code]

this is my apiservices

[code]

[2019-11-14 09:58] flunderveiko opened #259 "Using `trickster` to access metrics of different servers"
Hi,
in my case i use defferent prometheus instances. Is it possible to access the various Prometheus instances through the trickster server?
If so, how can you configure the individual trickster `origins` in the adapter?

[2019-11-14 16:23] ruben-hz opened #260 "Custom Metrics not fetching metrics from a Namespace apart from Kube-system and where custom metrics is launched."
I have installed using deploy directory and followed all steps but couldn't  figure out why it is not fetching metrics from a different namespace

[2019-11-16 13:54] ruben-hz commented on #260
To Clarify, I have ran the roles in the deploy directory and my logging in custom-metrics pod is very full and hard to understand, so please let me know if you need any info on this to debug.

PS: This is working fine in my EKS cluster and faces trouble in my KOPS cluster.

Metrics Server is working fine for my application namespace but custom-metrics is not working or trying to fetch from the app

[2019-11-19 12:55] Ludek2 commented on #176
I've fixed the issue by setting proxy-client parameters for api server:
see:

https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/#kubernetes-apiserver-client-authentication

btw your anonymous user is apiservice discovery/health check that is continuously executed by api server.

[2019-11-20 15:52] sandeeplamb commented on #176
This solved my issue

`apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
  name: system:non-resource-urls
rules:
- nonResourceURLs: [ "*" ]
  verbs: [ "get" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cluster-system-anonymous
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:non-resource-urls

[2019-11-20 18:52] mpeamma commented on #255
I am having this issue as well. Just to add a little more context for this issue, my metric is being exposed via this rule:
`- seriesQuery: '{__name__=~"kafka_minion_topic_partition_message_count"}'
      seriesFilters: []
      resources:
        template: <<.Resource>>
      name:
        matches: ""
        as: "kafka_custom_metric"
      metricsQuery: 'kafka_minion_topic_partition_message_coun

[2019-11-21 08:52] woodliu commented on #205
@DirectXMan12 Could you help with this issue? I face the same problem when i enable "caBunle", without it, it can fetch the value
[code]

[2019-11-21 14:07] ruben-hz commented on #260
@DirectXMan12  Any suggestions for this?

[2019-11-22 03:01] woodliu commented on #205
I have slove the problem now，because openshift not trust the ca, you need to use the cluster ca to generate the certificates for adapter, then you can fetch metric with command "kubectl get --raw ..."

[2019-11-22 06:59] #260 closed

[2019-11-28 15:37] ivnilv commented on #254
@DirectXMan12 there are multiple open issues on this ? Any comment ?

[2019-11-28 15:40] ivnilv commented on #257
Dupe of #254 ?

[2019-12-05 08:59] shindanim opened #261 "plundering-* stuffs are not controlled by terraform helm_release"
Hello, k8s-prometheus-adapter guys.

My project is using Linkerd and promtheus adapter.
Also, Terraform is responsible to manage all the components.
Both of Prom adapter and Linkerd are installed with following format.
[code]

For the behavior of prometheus adapter, it worked fine.
I've also checked my HPA worked fine with prometheus adapter.

But there are A LOT of `plundering-*` stuffs are creat

[2019-12-10 11:24] jubel-han commented on #235
I got the same issue, it looks like the metric `selector` in HPA object haven't been handled correctly.

This is the adapter log, as I can see, the query sends to Prometheus doesn't include the `queue` label.
even though, the requests sent to the adapter from the controller manager, having the `metricLabelSelector` parameter.
[code]

metrics:

[code]

HPA object:

[code]

adapter rules:

[code]

[2019-12-12 08:08] nerzhul commented on #176
i have exactly the same problem since month and i cannot use metrics. I just updated to latest kube-prometheus project code and i am in the same state:
[code]
Is there any way to ensure we will not be not authed on this healthcheck ?

[2019-12-12 08:40] nerzhul commented on #176
@sandeeplamb i tried your "fix", it works but i'm doing it more grain because i don't want anonymous to access all my APIs
[code]

[2019-12-20 10:52] benjaminhuo opened #262 "v1beta2 for custom.metrics.k8s.io doesn't work"
I change v1beta1 to v1beta2, and then adapter doesn't work anymore. https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/master/deploy/manifests/custom-metrics-apiservice.yaml#L4

But v1beta2 should be supported in my k8s v1.16 : https://github.com/kubernetes/metrics/tree/master/pkg/apis/custom_metrics/v1beta2

Just wondering if some changes have to be made to support this ?

[2020-01-02 07:05] pratikmallya opened #263 "Support deploying with kustomize"
Very selfishly: I use kustomize and love it for simple k8s package management. Making the manifests available for consumption via kustomize would make it easy for me to depend on the repo instead of copy pasta the manifests into my repo.

[2020-01-16 09:29] tallongsun opened #264 "custom metrics not work(http2: stream closed)"
I'm running the adapter with the following command .
[code]

when i try to run `kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1"`, i got the error `Error from server (ServiceUnavailable): the server is currently unable to handle the request`

and i check the adapter log, i found the following error.

what should i do to make the metrics api start up?
My k8s version is

[2020-01-16 09:58] tallongsun commented on #264
btw, i can retrieve http_requests_total metric from prometheus directly , but can't retrieve from prometheus-adapter(custom metric server)

[2020-01-17 12:39] sebarys commented on #116
@Sanjanare Let's assume you have `rabbitmq_queue_messages` metric that report queue size and application called `orders` that consume messages from queue called `orders-queue`. Application is deployed in `api` namespace and exposed by `orders` service.
Below simplified plan how we can start scale this app based on `orders-queue` queue size:

1. `rabbitmq_queue_messages` metric doesn't contain info

[2020-01-24 12:19] archmangler opened #265 "k8s-prometheus-adapter-amd64:v0.5.0 flooding " unable to normalize group-resource endpoint from label " messages"
k8s-prometheus-adapter-amd64:v0.5.0  deployed via the helm chart version <> is flooding huge amounts of log messages like:

[code]

On cloud providers this results in a substantial logging bill (eg when using Azure Log Analytics service)

How can this be fixed?

[2020-01-25 06:08] flouthoc opened #266 "Can we pass custom labels from hpa itself to adapter queries"
For instance: I want to scale a hpa on the basis of custom query `base_query{custom_label="label_value"}` and label_value comes from the label on hpa how can i do this.

[2020-01-25 09:05] flouthoc commented on #266
@DirectXMan12 ^

[2020-01-26 02:13] prageethw opened #267 "how to Install multiple adapters pointing different prometheus servers"
I'm trying to have multiple adapters pointing to different Prometheus servers in K8s cluster, for example, one istio default and one I use to monitor everything else.
Does this support at all?

[2020-01-26 10:31] luks commented on #267
We had similar problem we solve it using Thanos (Thanos querier) which is capable to serve metric from n prometheus replicas

[2020-01-28 16:18] kmcrawford commented on #123
@blaketastic2 has this changed?  I've added the `http` to the `sidecar.istio.io/statsInclusionPrefixes`  and still don't see `envoy_http_rq_total` being reported.

Config:
`sidecar.istio.io/statsInclusionPrefixes: http,tcp,cluster.,cluster_manager,listener_manager,http_mixer_filter,tcp_mixer_filter,server,cluster.xds-grpc`

[2020-01-28 16:26] blaketastic2 commented on #123
@kmcrawford Currently working values we use are - `sidecar.istio.io/statsInclusionPrefixes: http,cluster_manager,listener_manager,http_mixer_filter,tcp_mixer_filter,server,cluster.xds-grpc`. Make sure you don't have a typo in the config.

Also, here's the latest documentation link - https://istio.io/docs/ops/configuration/telemetry/envoy-stats/

[2020-01-28 17:29] kmcrawford commented on #123
@blaketastic2  I think I found it.  It looks like it's now under `envoy_http_stats_rq_total` vs `envoy_http_rq_total`

[2020-01-31 08:35] matandomuertos opened #268 "Issue with v1beta1.metrics.k8s.io and calico(?)"
Hello, I was fighting with this issue for the last few days and i dont find any solution for the moment.

Basically I want to install prometheus-adapter in eks running k8s v1.14.9.

[code]

The problem is basically that `v1beta1.metrics.k8s.io` can't connect to prometheus-adapter.

I tried two ways:

[code]

I get this error:
[code]
I thought that the problem was some security group, i was playing

[2020-01-31 10:27] prageethw commented on #150
I'm in similar situation too, I can see adaptor successfully run query against Prometheus server but not being able to return in custom metrics.
sql```

 GET http://prometheus.istio-system.svc:9090/api/v1/query?query=sum%28rate%28istio_requests_total%7Bdestination_workload_namespace%3D%22go-demo-7%22%2Cdestination_service_name%3D%22go-demo-7%22%2Creporter%3D%22destination%22%7D%5B1m%5D%29%29%2Fcou

[2020-02-07 13:10] kushalarya commented on #227
@tfluehmann @nerzhul
In file `/etc/kubernetes/manifests/kube-apiserver.yaml`, add ClusterIP of prometheus-adapter in `no_proxy `

[2020-02-07 15:28] tfluehmann commented on #227
You're the man @kushalarya ! Adding the prometheus-adapter ClusterIP fixed it for me :100:
Haven't though about the proxy and the service address so far.

[2020-02-11 15:55] geekyfox90 commented on #267
That would be helpful

[2020-02-13 09:52] #1 closed

[2020-02-13 09:55] s-urbaniak commented on #267
@prageethw the only way to have multiple prometheus-adapter installations natively today to point to different prometheus instances is to have separate deployments per API-type, that is a separate prometheus-adapter for resource, custom, and external metrics.

But there is a solution for your problem, that is Thanos Querier: you could deploy that component in front of your Prometheus servers and p

[2020-02-13 09:58] s-urbaniak commented on #266
@flouthoc i think what you are looking for is implemented in https://github.com/DirectXMan12/k8s-prometheus-adapter/pull/247 which just got merged. once released please feel free to test it out and give feedback :-)

[2020-02-13 09:59] bwplotka commented on #267
Thanos Querier -> https://thanos.io/components/query.md/

[2020-02-13 10:02] metalmatze commented on #267
There was even a KubeCon talk in Barcelona in May last year! :)

![Screenshot from 2020-02-13 11-01-15](https://user-images.githubusercontent.com/872251/74423251-3d3d5000-4e50-11ea-9c36-1ca726179f35.png)

https://www.youtube.com/watch?v=qTxunwzYO0g&t=1517s

[2020-02-13 14:25] #266 closed

[2020-02-18 11:29] archmangler opened #270 "No way to run without TLS certs?"
How to disable the use of TLS certs?

[2020-02-19 21:08] caarlos0 commented on #255
you `metricsQuery` needs to be:

[code]

[2020-02-20 09:04] s-urbaniak commented on #270
Can you be more specific? If you mean disabling TLS certs in conjunction with talking to the api server, i believe this is not possible.

[2020-02-20 12:14] amitm02 opened #271 "running the chart under Kubernetes 1.13"
Do what extent does the chart requires 1.14+?
Can it be run on 1.13 at all? Is there a way to make it work?
What exactly does it need in 1.14 that 1.13 is missing?

Thanks

[2020-02-27 06:47] archmangler commented on #270
Hi @s-urbaniak - yes, I meant disabling TLS certs completely.

[2020-02-27 19:23] iravishah opened #272 "External metrics not fetching the metrics"
Hi There, I am trying to build external metrics for Apache pulsar using prometheus adapter.
Here is the sample output from the Apache pulsar metrics
**pulsar_subscription_back_log{cluster="standalone",namespace="public/default",topic="persistent://public/default/test",subscription="my-sub"} 2 1582364706319**
I am interested in extracting the number 2 which is a number of backlog messages in the su

[2020-03-02 05:44] lianghao208 opened #273 "Is there an implementation for external.metrics.k8s.io API using Prometheus without using helm?"
I know there is an easy way to create a HPA with the external APIs from Prometheus by using helm.
But I am in a restricted network environment, which isnt allow me to build a helm repo, so I can only use a certain yaml file to create my pods, is there an example yaml file for me to approach external APIs?
ps: I use luxas' example yaml to create custom-metrics-api pods. I guess there must be an exa

[2020-03-02 07:16] guleng commented on #140
done

[2020-03-02 08:02] guleng opened #274 "There are 403 logs after deployment"
[code]
I don't know how to deal with these 403. There are a lot of them. Are they certificate issues or RBAC permissions

[2020-03-02 08:37] lianghao208 commented on #219
I am a little confussed, can you tell me where I can put my configuration( seriesQuery... etc.) in the adapter?

[2020-03-03 13:34] nvanheuverzwijn commented on #264
In my case, the server works well but I get those same errors. Not sure what it is related to ?

The code where the error originate have these comments

                // Log errors that were not converted to an error status
                // by REST storage - these typically indicate programmer
                // error by not using pkg/api/errors, or unexpected failure
                // cases.

[2020-03-05 16:59] mcginne opened #275 "Node CPU stats are not accurate"
I have noticed on an Openshift Cluster using k8s-prometheus-adapter that often I see significant differences between the CPU % reported by `kubectl top nodes` and those reported by logging onto the host and running `top` or by the following query in prometheus:
`100 - (avg by (hostname) (irate(node_cpu_seconds_total{mode="idle"}[10m])) * 100)`

e.g:
[code]
Output from `top` on 10.143.30.157:
<img

[2020-03-06 06:56] oboguev opened #276 ""http2: stream closed" and panic in k8s-prometheus-adapter"
I encountered two issues trying to run quay.io/coreos/k8s-prometheus-adapter-amd64:v0.6.0.

Issue 1:
========

I deployed k8s-prometheus-adapter and observe it reporting the following errors:

Although custom metrics was provided to /apis/custom.metrics.k8s.io and observed there, but these errors were going non-stop anyway all the time.

Issue 2:
========

After I undeployed and redeployed an appl

[2020-03-08 19:23] CrashLaker commented on #219
Just got it to work.
thank you all 2!!
@alex-sainer 's version help me a lot.

we can also use `kubernetes_namespace`
[code]

@lianghao208 I just started exploring kubernetes but what I did was.
bundle everything up inside your prometheus-adapter yaml config

<details>
<summary>values.yml</summary>

[code]
</details>

then run `helm upgrade -f values.yaml my-release stable/prometheus-adapter`
or `

[2020-03-08 19:36] GMartinez-Sisti commented on #276
I started having this issue with v0.6.0 on a kubernetes cluster that was upgraded to 1.16.7, with kubernetes 1.15.6 it worked fine.

[2020-03-08 23:38] GMartinez-Sisti commented on #264
Same here, all is working as it should, but those errors are still being thrown.

[2020-03-08 23:47] GMartinez-Sisti commented on #273
You can use helm to create the yaml files you need, and then apply those with kubectl.

Is this helpful? -> https://blog.giantswarm.io/what-you-yaml-is-what-you-get/

[2020-03-08 23:50] GMartinez-Sisti commented on #274
The error message is right there:

`User \"system:serviceaccount:custom-metrics:custom-metrics-apiserver\" cannot watch resource \"pods\" in API group \"\" at the cluster scope","reason":"Forbidden"`

I would double check if the role bindings, etc, are correctly applied. Check here for the yaml files-> https://github.com/DirectXMan12/k8s-prometheus-adapter/tree/master/deploy/manifests

[2020-03-09 14:59] nvanheuverzwijn commented on #264
I noticed that when you reduce/remove the numbers of custom metrics, it removes the error.

Could this be caused by the overwhelming number of custom metrics provided by the adapter ? The default metrics in the helm release looks like this :
[code]

Those default rules seems to be very intensive. It fetches almost all metrics from prometheus and execute sum/rate on all of them to provide custom me

[2020-03-11 14:14] yciabaud commented on #255
I am facing the very same issue and adding `{<<.LabelMatchers>>}` to the `metricsQuery` made existing metric items empty.
The promql query containing the `labelSelector` is working on the prometheus side.

Do you have any suggestion on how to solve this?

[2020-03-12 12:24] L3o-pold opened #277 "[QUESTION] Fetch metrics with filter"
I have those metrics in Prometheus:

[code]

I'd like to create an HPA based on this metrics ONLY with `state` busy.

When querying custom metrics API I have the following.

[code]

I used latest k8s-prometheus-adapter release.

[2020-03-13 02:59] IzekChen opened #278 "Display issue when HPA threshold too high and confusing"
![image](https://user-images.githubusercontent.com/7790230/76585189-bb0c7e00-6518-11ea-9413-580dcae81b73.png)

I try to set up the HPA with the condition when "nginx_vts_server_requests_per_second" over 200000m
Then from the command "kubectl describe hpa", it shows 0/200.
It is very confusing.
I also try to set the targetAverageValue with "200000", it will show 200k but seems like it will break th

[2020-03-18 05:11] yiyijin commented on #219
@alex-sainer @CrashLaker, great you make it working! I am facing a similar issue, would really appreciate your help:

my prometheus metrics looks like:
[code]

and here is my config.yaml:
[code]
kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1 | jq gives the output:

[code]

but when I did kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1/namespaces/my-namespace/pods/*/this-is-a-different

[2020-03-18 16:39] kirrmann commented on #276
I'm also experiencing issue 1 with 1.16.7 and v0.6.0

[code]

[2020-03-18 19:57] dokipen opened #279 "Unexpectedly High Results"
Here's my rule:
[code]
I can see the prometheus-adapter getting the request `/apis/custom.metrics.k8s.io/v1beta1/namespaces/rito-production/pods/%2A/istio_requests_rate?labelSelector=app.kubernetes.io%2Fname%3Dapp%2Capp.kubernetes.io%2Fversion%3Dversion` which returns the correct number of results, 1 per pod, but the numbers seem about 6x higher than expected.

If I run `sum by(pod) (rate(istio_re

[2020-03-18 22:44] yiyijin opened #280 "NaN translates into -9223372036854775808m"
Hi all,

I was able to see the custom metrics:
[code]
The **2nd** element in the items list, has value `-9223372036854775808m`

However, if I use the same query adapter used to query prometheus, I got this response, the **2nd** pod has value `NaN`, which is translated into `-9223372036854775808m`, any reason why?

[code]

[2020-03-18 23:11] silverlyra commented on #279
(I work with the issue’s reporter)

We [added some logging](https://github.com/DirectXMan12/k8s-prometheus-adapter/commit/a4f0149ec682e7f3a4596c0aa8bb77af5ded1518) to the adapter which revealed that the static `reporter="destination"` selector in our `seriesQuery` is ignored, seemingly without warning. We worked around that by duplicating it in the `metricsQuery` template.

I see (belatedly 😅) tha

[2020-03-20 00:43] yiyijin commented on #235
I think the issue could be the version of docker image is used for adapter.

See this fix: https://github.com/DirectXMan12/k8s-prometheus-adapter/pull/196, I think it only available for v0.6.0 (latest), so if you are using an older version, then you will have this problem

[2020-03-20 23:44] fistan684 commented on #255
I was having the same issue as well. All of the metrics were getting aggregated together. I also, added the `{<<.LabelMatchers>>}` and that caused all of the metrics to drop out. After bumping the log level and examining it, it looks like the root issue is that the namespace gets passed in as part of the LabelMatchers on the external end point. Considering the external end point is supposed to rep

[2020-03-22 12:20] nirrozenbaum commented on #274
hi I'm seeing the exact same error both for pods and for nodes.
I've checked the yaml files and all of them match exactly to the ones that are located in the repo.
any idea what could be wrong?

[2020-03-22 13:09] GMartinez-Sisti commented on #274
@nirrozenbaum Where is your kubernetes cluster hosted?

I'm not sure if a PAAS solution such as (EKS, GKE or AKS) allows you to get that type of access.

Also confirm if the deployed resources are correct with `kubectl get <type> <name> -o yaml`.

[2020-03-22 19:01] nirrozenbaum commented on #274
I found the issue, I fixed the ``` cannot watch resource``` problem by adding the verb watch in the cluster role yaml file.

[2020-03-22 22:03] GMartinez-Sisti commented on #274
I see that the examples in this repository don't contain the verb `watch` and even the resource `nodes` ([here](https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/master/deploy/manifests/custom-metrics-resource-reader-cluster-role.yaml)).

But the helm repository does ([here](https://github.com/helm/charts/blob/master/stable/prometheus-adapter/templates/resource-metrics-cluster-role.yaml)

[2020-03-23 06:53] nirrozenbaum commented on #274
@GMartinez-Sisti sure, I'll create a PR with the updated role.

[2020-03-23 07:22] nirrozenbaum commented on #274
btw, I think also [this file](https://github.com/helm/charts/blob/master/stable/prometheus-adapter/templates/custom-metrics-resource-reader-cluster-role.yaml) has to be updated as well, isn't it?

[2020-03-23 11:25] GMartinez-Sisti commented on #274
Looks like it. Nice catch!

[2020-03-23 11:49] john-delivuk commented on #242
Hey @WoodProgrammer  It looks like a config issue with my morning eyes.
[code]
So here you have `namespace` and `pod` hardcoded into your config. Then you're mapping the kubernetes value for namespace to `kubernetes_namespace` in your prom query as well has `kubernetes_pod_name` and pod value. I might suggest something like this.
[code]

Now this makes the assumption you're using `pod_name` which

[2020-03-23 14:11] nirrozenbaum opened #281 "unable to fetch custom metrics - metric (namespaced) not registered"
hi,
I'd appreciate your help with the following issue.

I have a k8s cluster running in IBM. I've deployed prometheus on this cluster (manually) and written a sample up to expose metrics to prometheus. up until here everything is working.
(prometheus is deployed on monitoring namespace, in case it matters)
I'm able to find my custom metric on prometheus UI search bar.

I deployed prometheus adapte

[2020-03-23 14:30] john-delivuk opened #282 "0.6.0 External Metrics Bug around namespace being appended."
Hey guys, I haven't had a moment to dig through the source yet and ensure that this is the confirmed case, but it looks like we're affixing namespace to the start of the external metrics queries.

I get no errors in prom adapter but in the hpa I'm seeing the following.

[code]

Tonight I'll have time to dig into source and look at the PR's in the release, but I wanted to share my findings for all.

[2020-03-23 16:57] john-delivuk commented on #282
also we should add TLS Certs to the base image as well. I'll submit a PR shortly.

[2020-03-24 08:39] nirrozenbaum commented on #281
here is another part of the log that looks relevant:
[code]

from my understanding, it looks like the adapter is able to fetch from prometheus `ping_pong_sample_pongness` metric, and gets in the response body the same results I'm getting in prometheus UI.
but still as mentioned in the previous comment, metric cannot be found in the `kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1` command an

[2020-03-24 13:00] john-delivuk commented on #118
I was debugging this last night. It seems that it's intermittent. It's for sure not a permissions issue as the code that fails is the `queryBoth` method on the provider. Once I had a break point in the error handling I spammed my instance until I caught something, eventually it bit and I saw that queryBoth was returning nil on the cpu, but still returning memory metrics. Why did did that I'm not t

[2020-03-24 18:02] gposton-goodmoney commented on #116
thanks @sebarys incredibly helpful!

[2020-03-26 02:05] tallongsun opened #283 "HPA based on Object AverageValue metric doesn't work as expected"
I created a hpa as below, i expect the sample-app could be scaled based on my gateway-service metric, For example,

[code]
I used the AverageValue because i want the metric value could be divided by current replica count, However, when i test with a tps 10, i found that metric value won't be divided as i expected. the tps metric will keep around 10 as the following screenshot, as a result, the rep

[2020-03-26 15:52] janvdvegt commented on #268
Did you end up solving this issue? I have the same problem

[2020-03-31 19:17] johanneswuerbach commented on #276
Maybe this is related to https://github.com/kubernetes/kubernetes/pull/82146, which has been released in 1.16?

[2020-04-02 13:22] eyalzek commented on #276
I'm getting the same with v0.6.0 on kubernetes v1.15.9.

[code]

[2020-04-09 18:08] calebwoofenden commented on #122
I am seeing this error message logged repeatedly on the prometheus-adapter pod, but it seems to be working. I am able to access the metrics I wanted to be exposed through custom.metrics.k8s.io. Is this something I should try to fix, or is there a way to ignore this error message? It's filling my logs.

[2020-04-12 14:52] diclophis opened #285 "Multiple deployments of the prometheus adapter allowed?"
Hello,

This is more of a question than an issue per se... Our team was wondering if its recommended to have a single "global" prometheus-adapter deployment (with all of our apps metrics registered in it), or if it is possible to have a deployment per application/namespace?

[2020-04-13 18:41] rbadillo commented on #255
@fistan684 thanks a lot for sharing your solution, it helped us as well. How can we connect? so we can help each other in the future. Thanks again!

[2020-04-15 02:11] dumplinginsoda opened #287 "custom metrics: cannot get values exposed from redis exporter"
Hi, I'm using redis exporter and prometheus service monitoring scraping the values from the exporter. I'm trying to expose that value from Prometheus to HPA.

The custom rule I have is:

[code]

when sending

` kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1/namespaces/monitoring/services/*/util_video_redis_script_values  | jq `

 I am only seeing

[code]

the log on adapter server indicates

[2020-04-15 08:21] lawliet89 commented on #282
Same issue here. I have downgraded to 0.5.0 and the issue went away.

Stacktrace:

[code]

External Metrics Configuration

[code]

[2020-04-15 11:44] domderen commented on #255
@fistan684 Would you mind explaining how you increased the log level to see that the `namespace` label was being added? I'm running into the same issue as you, but your fix doesn't work in my case unfortunately, so I wanted to dig deeper into what might be the problem.

[2020-04-15 20:35] dumplinginsoda commented on #287
nvm. My redis exporter was under default namespaces.

Therefore the command needs to be
`kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1/namespaces/default/services/*/util_video_redis_script_values | jq`

[2020-04-15 20:35] #287 closed

[2020-04-19 20:25] yashbhutwala commented on #274
fixed this in the helm chart 😄

[2020-04-19 20:31] yashbhutwala opened #288 "node cpu stats don't work with kind"
cannot query `kubectl top nodes` due to cpu query does not return result

* deployed k8s-prometheus-adapter using helm
* [memory query works](https://github.com/coreos/kube-prometheus/blob/master/manifests/prometheus-adapter-configMap.yaml#L20)
* [cpu query does not work](https://github.com/coreos/kube-prometheus/blob/master/manifests/prometheus-adapter-configMap.yaml#L8)
* kind version: v0.7.0
*

[2020-04-20 07:54] #198 closed

[2020-04-23 14:33] jaydp17 commented on #176
@s-urbaniak @gokhandincer is it okay to just leave it as it is.
It logs unauthorized every now & then but apart from that it seems to work, so instead of granting additional permissions to system:anonymous, how about we just ignore the log statement?

[2020-05-05 09:00] stafot commented on #276
For me the log flood started after upgrading from `AWS EKS 1.14`  to `1.15` with `0.4.1` apiserver. Problem persists in `0.5.0` and `0.6.0` apiservers too. I am a bit worried if this going to break totally on `1.16` ref. https://github.com/coreos/kube-prometheus/issues/383

[2020-05-07 16:30] vranystepan commented on #282
I have the same issue, it's most likely caused by this MR, right?
https://github.com/DirectXMan12/k8s-prometheus-adapter/pull/197/files

[2020-05-11 11:11] mentos1386 commented on #282
[code]
Same issue. Using `v0.6.0` and `v0.7.0` on AWS EKS `1.14`

[2020-05-11 13:19] nfsp3k commented on #281
I have the same issue.

[2020-05-11 20:26] scott2449 opened #289 "pod_name had been removed in k8s 1.16"
The default seriesQuery in the adapter :

`{__name__=~"^container_.*",container_name!="POD",namespace!="",pod_name!=""}`

This query returns no data in Kubernetes 1.16 and later because pod_name was removed:

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md

[2020-05-11 20:30] kuberkaul commented on #289
+1

[2020-05-12 10:10] Kubessandra commented on #123
## This is not working
`
kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/default/pods/*/server_app_active_users" | jq
`
Command not working.
[code]
The config:
[code]

## This is Working
fixed the issue by overriding the namespace too:
[code]
And now `kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/default/pods/*/server_app_active_users" | jq ` is good !

[2020-05-12 12:10] janavenkat commented on #288
Any update?
Am running k8s version: v1.14

[2020-05-13 17:22] stafot commented on #276
After upgrading to `AWS EKS 1.16` errors persist, but the amount is smaller.

[2020-05-14 12:30] nirrozenbaum commented on #274
created pull request to fix the issue.

[2020-05-14 17:53] pc-rnukala1 commented on #168
@iftachsc - You able to retrieve the istio_requests_total metric?, i am looking for the same

[2020-05-15 00:59] john-delivuk commented on #282
Sorry I forgot to follow up. I'm going to take a peak tonight and see what the fix looks like

[2020-05-15 01:50] john-delivuk commented on #282
Ok I'm remembering this a bit now, something that is poor judgement of the kubes api spec is that by default it's going to send `default` namespace for all external metric requests. Right now this is getting added to your query which causes it to not be found. A quick work around I haven't tested, is to add an add label to the prom adapter query using `label_replace`.

Problem section
https://gith

[2020-05-15 01:53] john-delivuk commented on #282
@s-urbaniak would you prefer we go back to ignoring the namespace label on default or patch this with config? I'm not sure if there has been changes or plans to for the external metrics api.

[2020-05-15 06:20] benjaminhuo opened #291 "[Prometheus Adapter] Panic after deploying prometheus adapter v0.7.0"
**What happened?**
Log shows prometheus adapter panics after applying v0.7.0.
v0.6.0 and v0.5.0 is fine.
[code]
**How to reproduce it (as minimally and precisely as possible)**:
Deploy the latest kube-prometheus/manifest

**Environment**
Prometheus Adapter version:
v0.7.0
* Prometheus Operator version:
v0.38.1

* Kubernetes version information:
v1.17.3

[2020-05-15 06:29] benjaminhuo opened #292 "apiserver was unable to write a JSON response: http2: stream closed"
**What happened?**
Deploy prometheus adapter with kube-prometheus
Got below error in prometheus adapter pod log(repeat every 30 seconds):
[code]

**Did you expect to see some different?**
No errors

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f manifests

**Environment**

* Prometheus Adapter version:
  v0.5.0 , Same issue with v0.6.0,
  adapter log similar err

[2020-05-16 16:22] daniel-habib commented on #292
encountered the same issue (apiserver was unable to write a JSON response) on k8s 1.15.
i noticed that the chart creates a RoleBinding to `extension-apiserver-authentication-reader`
i have this role in namespace `kube-system` not in the namespace where i create the adapter (`prometheus`).
i tried creating the roleBinding in kube-system namepace - but it did not help.
@DirectXMan12 : do you think t

[2020-05-19 17:50] pradeepnnv commented on #281
@nirrozenbaum , your prometheus-adapter config seems to be missing association rules .
Example:
`
     resources:
        overrides:
          kubernetes_namespace: {resource: "namespace"}
          kubernetes_pod_name: {resource: "pod"}
`

[2020-05-21 16:56] DerrickMartinez opened #293 "missing request for cpu"
Hey, one of my environments recently had HPAs stop working. Maybe this should go in the k8s issues, but I thought i would try here first. First the error:

[code]

I have verified that scaleTargetRef is correct, and the deployments have cpu requests set. I've been able to do a `k top pods` and I've turned up logging in the adapter to v8 and see requests every few seconds for requesting metrics...

[2020-05-21 18:33] lli-hiya commented on #255
This is indeed an issue. https://github.com/DirectXMan12/k8s-prometheus-adapter/issues/282

Using 0.5.0 resolves it.

[2020-05-22 02:52] john-delivuk commented on #255
@domderen when you use the debugger you can trace it. #282 has a link to the line of code that's jamming it in. Like others have stated, the easiest work around is to get `namespace=default` on your metric.

[2020-05-22 12:44] surajnarwade commented on #176
@jaydp17 in my case it didn't work unless I give following permission to `system:anonymous`

[code]

we don't need to add `openapi/v2` anyway it is 404, but this is just workaround. as suggested by @Ludek2 , setting proxy-client parameters would be the ideal solution.

[2020-05-22 19:31] domderen commented on #255
@john-delivuk Thanks for your help! I ended up doing, it's just not very clean solution, so I was hoping for something cleaner, but decided to just move on to other things :)

[2020-05-26 12:43] brancz commented on #292
Strange. We're running the latest version as well with Kubernetes 1.18.2, but not seeing this or the panic. Could you possibly try with that version and see if you still get the same errors and panics?

[2020-05-26 12:43] brancz commented on #291
I commented here: https://github.com/DirectXMan12/k8s-prometheus-adapter/issues/292#issuecomment-634000495

[2020-05-26 20:27] daniel-habib commented on #292
@brancz : if it is not too much, coule you please share if the prometheus-adapter is deployed in kube-system namespace or elsewhere?
if elsewhere - how did prometheus-adapter-auth-reader RoleBinding work if at all?

[2020-05-27 07:49] brancz commented on #292
Here's our RoleBinding: https://github.com/coreos/kube-prometheus/blob/3c109369d4d4e19d2bab9e073797eb971a5eb957/manifests/prometheus-adapter-roleBindingAuthReader.yaml

[2020-05-27 17:50] DerrickMartinez commented on #293
Turned out linkerd 2.7.0 wasn't adding cpu requests. Updated to a newer version and it's good now. Always something you don't expect!

[2020-05-27 17:50] #293 closed

[2020-05-27 23:48] lli-hiya opened #294 "External Kafka metrics causes HPA to scale too fast"
I am using Kafka metrics as external metrics for HPA, and here is my configuration

[code]
Then in my hpa, I have the following setup
[code]

However, the problem is that at any time when the metrics value is above `100k`, HPA will scale up the replicas count per a 15s(the default value of `--horizontal-pod-autoscaler-sync-period`) like this
[code]

The reason is because our Prometheus scrape inte

[2020-05-30 15:23] daniel-habib commented on #292
the roleBinding created by helm happens is in the adapter namespace (monitoring in your case) not kube-system.
Changed my binding to the one you have – and restarted pod.

Still getting the “apiserver was unable to write a JSON response: http2: stream closed” messages.

Maybe the issue is not permissions…
If not permissions, it must be networking, right?

Regards,
Daniel

[2020-06-01 08:14] benjaminhuo commented on #292
@brancz @daniel-habib Sorry for the late response.
I ran some tests using kube-prometheus:
- if kube-promehteus stack is deployed in the default namespace which is `monitoring`, even with custom metrics enabled(import 'kube-prometheus/kube-prometheus-custom-metrics.libsonnet'), there is no panic and `apiserver was unable to write a JSON response: http2: stream closed` error.
- if kube-promehteus s

[2020-06-02 04:53] daniel-habib commented on #292
@benjaminhuo : i deployed it via helm and it was deployed in namespace "prometheus"
i'll try to see if dropping custom metrics fixes the issue - and report back later.

[2020-06-02 07:56] daniel-habib commented on #292
the helm chart created this config.yaml
[code]

when i switched to
[code]

errors disappeared.
perhaps the helm's package default is too heavy (as suggested in https://github.com/DirectXMan12/k8s-prometheus-adapter/issues/264#issuecomment-596584155)?

[2020-06-02 17:47] lli-hiya commented on #294
Has anyone encountered the same issue?

[2020-06-04 22:55] garymm commented on #45
Is this likely to get implemented any time soon?
If not, would you be willing to write up a design to guide someone else in contributing the change?

Thanks

[2020-06-05 17:03] MottiniMauro opened #295 "Target metrics from another deployment"
Hi everyone! Im currently trying to run an autoscaling demo using prometheus and the prometheus adapter, and i was wondering if there is a way to autoscale one of my deployments based on metrics that prometheus scrapes from another deployment.

What i have right now are 2 different deployments, kafka-consumer-application (which i want to scale) and kafka-exporter (which exposed the kafka metrics t

[2020-06-08 15:04] shalev123d opened #296 "items[] is empty, on specific queries"
Hello!

I'm trying to query sum(rate(http_requests_total[2m])), with the configuration:

[code]

 which should return:
![image](https://user-images.githubusercontent.com/36129614/84045748-da009c00-a9b1-11ea-82f4-7786ca0dd6c1.png)

but when I query the API, I get:
![image](https://user-images.githubusercontent.com/36129614/84045932-1f24ce00-a9b2-11ea-858f-5df511f1da4d.png)

When I tried to change t

[2020-06-09 07:03] shalev123d commented on #296
Well to put it in a simple manner:
This query returns a value in the API -
`metricsQuery: 'rate(http_requests_total{namespace="testapp",status=~"2.*"}[5m])'`

while this returns an empty 'items[]' list -
`metricsQuery: 'sum(rate(http_requests_total{namespace="testapp",status=~"2.*"}[5m]))'`

when we add sum() it doesn't work for some reason

[2020-06-09 14:46] benjaminhuo commented on #292
@daniel-habib yeah, I confirmed your findings as well. So @brancz @DirectXMan12 , it seems that this error is related to the data volume of metricsQuery

[2020-06-09 14:56] brancz commented on #292
Yeah we're aware of problems with the scalability of the current approach, because of the discovery mechanism. I believe @s-urbaniak wrote a proposal to replace this mechanism, maybe it can be shared publicly so anyone who wants to could implement it?

[2020-06-09 18:07] tommyjcarpenter commented on #228
I have the same question here

[2020-06-10 01:33] benjaminhuo commented on #292
That'll be great. I'll see how can I help on this.

[2020-06-10 06:59] s-urbaniak commented on #292
@benjaminhuo help here is very much appreciated, the initial design is available at https://github.com/s-urbaniak/prometheus-adapter/blob/master/design.md.

Don't hesitate to take it from here, I'll gladly accept pull request against the design doc and any subsequent discussions :raised_hands: :heart:

[2020-06-10 07:01] benjaminhuo commented on #292
@s-urbaniak Sure, let me check the design

[2020-06-10 07:04] s-urbaniak commented on #292
@benjaminhuo also, don't hesitate to ask questions, clarifications, i.e. by opening an issue against my repo https://github.com/s-urbaniak/prometheus-adapter.

[2020-06-10 07:06] benjaminhuo commented on #292
Got that

[2020-06-10 10:55] #296 closed

[2020-06-10 12:21] tommyjcarpenter opened #297 "how to average metrics after grouping?"
I have a metrics query like

[code]

When I have two pods that emit my metric, the results look like (xxx = redaction):

[code]

However, I am trying to get only a single metric out; in this case the `avg(4,6) = 5`.

I have tried (no group):
[code]
which returns no metrics at all (😢) and also

[code]
which results in a blowup go stacktrace (😢) probably because the syntax is illegal

Is there a way

[2020-06-10 13:04] #297 closed, assigned to nobody

[2020-06-11 20:44] calebwoofenden commented on #205
I am also seeing this error. I'm running the adapter inside a kube cluster managed by EKS. It's using the following args:
[code]
It doesn't seem to actually be interrupting service, it just spits out of a ton of these errors and fills up the logs. I'm able to query `custom.metrics.k8s.io` just fine and use it in my HPAs. Do I need to generate a certificate from the EKS CA for it?

[2020-06-22 06:08] param3sh opened #298 "Adapter not connecting to Prometheus"
Hi, I have installed prometheus-adapter through helm (helm install a-2-4-0 stable/prometheus-adapter --set prometheus.url=http://prome-0-1-4-prometheus --set prometheus.port=80), i am getting empty set of resource when i do "kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1". i have checked the adapter pod logs and did not see any logs related to adapter and prometheus connections. there are m

[2020-06-25 14:38] BenCoughlan15 opened #299 "Custom Metric showing up at root, but can't get value."
Hi there,

My metric is called: mycompany_firebase_service_requests_per_second_total

my promql is:
`  - seriesQuery: '{__name__=~"mycompany.*",kubernetes_name=~"mycompany.*"}'
    metricsQuery: "sum(rate(<<.Series>>{<<.LabelMatchers>>}[5m]))"
    resources:
      overrides:
        kubernetes_namespace: {resource: "namespace"}
        kubernetes_pod_name: {resource: "pod"}`

When I run ` kubectl

[2020-06-26 10:29] BenCoughlan15 commented on #150
getting the same issue here, any chance of getting some docs on how to install this? using namespaces should hardly be treated as an edge case?

[2020-07-02 15:32] alperbas commented on #294
Do you really need to scale up and down every 15 seconds? You could increase the `--horizontal-pod-autoscaler-sync-period` value to whatever suits you. One of my setups has 15 minutes sync period and I'm happy with how it works.

Another option would be to implement a separate server that would calculate those metrics and expose values to HPA whether to scale up and down for you. Autoscaler would

[2020-07-02 16:54] ntkjer commented on #299
I'm having the same issue. I have the following defined in my config for the adapter
[code]
I can also list metrics that were discovered as so:
[code]
but alas, no metric as well when I query the specified target:
[code]

as far as how my Prometheus query looks like: `rate(nginx_ingress_controller_nginx_process_requests_total[2m])`
[code]

[2020-07-02 16:58] ntkjer opened #300 "Metrics Discovery works but no values?"
Posted this blurb in a comment of another issue in the same vein, but wanted to post it here seperately for visibility as well. I'm currently not able to retrieve metrics from the defined adapter config. The service discovery for this target works at the root but no values are being populated.

Adapter config looks like:
[code]
I can also list metrics that were discovered as so:
[code]
but alas, n

[2020-07-02 18:05] ntkjer commented on #300
ah nevermind! It was due to the summing of metric. Weird but just exposing a rate works :)

[2020-07-02 18:05] #300 closed

[2020-07-06 18:40] marianoogimenez commented on #232
Hi! I'm experimenting exactly the same issue. Could you solve it?

[2020-07-08 14:41] nisan270390 commented on #150
Faced with the same issue, I'm trying to set custom metric
[code]

I get the following log:
[code]

Does anyone come across and know how to solve it?

[2020-07-08 17:09] lli-hiya commented on #294
On K8s 1.18, there are some new HPA features added to support customizable Behavior on a per HPA basis, which should address this issue. https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#api-change-3

[2020-07-14 14:07] arvin6msd commented on #99
I seem to have the same problem. But the error is different.
`
E0714 13:50:24.799479       1 provider.go:209] unable to update list of all metrics: unable to fetch metrics for query "{__name__=~\"^container_.*\",container!=\"POD\",namespace!=\"\",pod!=\"\"}": bad_response: unknown response code 404
`
I'm pointing to the right url as well
`--prometheus-url=http://msd-promop-v1-prometheus-o-promethe

[2020-07-14 14:18] arvin6msd opened #301 "Could not get the default configuration (also custom query) to work"
How am I installing adapter?
`helm install --name prom-adapter stable/prometheus-adapter --namespace monitoring --set prometheus.url="http://promop-v1-prometheus-o-prometheus.monitoring.svc",prometheus.port="9090" --set image.tag="v0.6.0" --set rbac.create="true"`

Error:
`I0714 14:15:22.771812       1 wrap.go:47] GET /apis/custom.metrics.k8s.io/v1beta1?timeout=32s: (280.151µs) 200 [kubectl/v1.16.

[2020-07-14 14:19] arvin6msd commented on #301
I'm trying to set up hpa based on request rates and couldn't get the adapter to work properly even with the default setup.

[2020-07-14 14:21] arvin6msd commented on #298
I have the same problem, Did you manage to solve this?

Log from adapter:
`I0714 14:20:24.248426       1 wrap.go:47] GET /apis/custom.metrics.k8s.io/v1beta1?timeout=32s: (237.548µs) 200 [kubectl/v1.16.0 (linux/amd64) kubernetes/2bd9643 192.168.94.246:45320]
E0714 14:20:24.949209       1 provider.go:209] unable to update list of all metrics: unable to fetch metrics for query "{namespace!=\"\",__nam

[2020-07-17 20:59] EugeneAikashev opened #303 "HPA is forbidden to fetch external metrics"
HI there,
My external metric is _as_queue_total_test_, k8s version is _v1.15.11-eks-af3caf, AWS EKS_
It looks good when I check by kubectl:
[code]
But HPA can't get access to metric:
[code]
The HPA itself:
[code]
Apiservices v1beta1.external.metrics.k8s.io
[code]

Any ideas what I missed ?

[2020-07-20 07:17] EugeneAikashev commented on #303
Solved. It was issue with RBAC.  I've checked helm chart and found missed ClusterRole.

[2020-07-20 07:17] #303 closed

[2020-07-22 00:40] jurgenweber commented on #285
to further on this, what is considered the preferred HA setup. Is it limited like the metrics server and you only have vertical scaling options or something else?

[2020-07-27 14:54] kmokashi opened #305 "Multiple services scaling using custom metrics"
Hello,

I have a question. Can we scale 2 services by using custom metrics. For example, I have 2 services which needs auto scaling based on custom metrics:

- First service needs to be scaled based on number of messages in Kafka queue.

- Second service needs to be scaled based on http requests per second.

I am able to scale first service by using custom metrics  with prometheus and prometheus a

[2020-07-28 09:47] KateGo520 opened #306 "Canonical repo address is inconsistent with go import path"
The github.com/`directxman12/k8s-prometheus-adapter` repo was just renamed to github.com/`DirectXMan12/k8s-prometheus-adapter`
This means that the canonical github repo address now conflicts with canonical go import packages (for example, `"github.com/directxman12/k8s-prometheus-adapter/pkg/client"`, as referenced from https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/v0.7.0/pkg/client/f

[2020-07-28 09:50] KateGo520 commented on #306
@smarterclayton @sergii-koshel-exa  Could you help me review this issue? Thx :p

[2020-08-04 14:01] hila3000 opened #307 "Metrics not returned via custom.metrics.k8s.io"
Hi,

I’m using prometheus adapter, and I’m trying to get the K8S HPA do its job based on the metric I’ve set prometheus to scrape via the config rules-

data:
  config.yaml: |
    rules:
    - metricsQuery: sum by (kubernetes_pod_name) (hydra_ws_active_conn)
      name:
        as: hydra_ws_active_conn
        matches: ^.*
      resources:
        overrides:
          kubernetes_namespace:

[2020-08-06 09:48] charlesparasa commented on #307
I am facing the same issue
$ kubectl get --raw  /apis/custom.metrics.k8s.io/v1beta1/namespaces/<>/pods/*/Test_ReadyPool_Total_Num_Messages | jq
{
  "kind": "MetricValueList",
  "apiVersion": "custom.metrics.k8s.io/v1beta1",
  "metadata": {
    "selfLink": "/apis/custom.metrics.k8s.io/v1beta1/namespaces/<>/pods/%2A/Test_ReadyPool_Total_Num_Messages"
  },
  "items": [
    {
      "describedObject":

[2020-08-10 11:33] Drupi commented on #268
any updates regarding this one ?

[2020-08-11 07:45] shardulsrivastava commented on #292
@benjaminhuo @daniel-habib  i had the same error as **Prometheus Adapter chart** was creating default rules. You can avoid that by using this chart configuration :

[code]

Here is my configuration :
[code]

With this only configuration that gets created is :
[code]

[code]

[2020-08-11 09:15] Ladicle commented on #280
NaN multiplied by 1000 is still NaN. Also, the NaN of float64 is cast to int64 in the below code, so it overflows to 9223372036854775808. This value is handled as MilliQuantity, so the API returns -9223372036854775808m.
https://github.com/directxman12/k8s-prometheus-adapter/blob/4b5788e847e6b009d72b886f22d54f9363f9eba0/pkg/custom-provider/provider.go#L93

[2020-08-12 13:02] ryan-dyer-sp commented on #255
Any update on this?  I resolved our issue by downgrading to 0.5.0 and ensuring <<.LabelMatchers>> was part of the query.

Seems odd to me that this has been broken for two releases now.  Would think this is a pretty normal usecase that should be tested as part of the release.

[2020-08-12 19:27] rnkhouse opened #309 "Prometheus adapter - not able to get data from external metrics"
I am not able to fetch items by running this command: `kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1/namespaces/default/rabbitmq_queue_messages_ready" | jq`

As you can see in below output items is an empty array:

    {
      "kind": "ExternalMetricValueList",
      "apiVersion": "external.metrics.k8s.io/v1beta1",
      "metadata": {
        "selfLink": "/apis/external.metrics.k8s.io/v

[2020-08-14 06:03] ChristopherLenz commented on #285
I'd like to join this "issue" with a more concrete question. We have a **shared cluster** with **multiple teams** working on it. If 2 teams decide to use this adapter we will get problems if the APIService.Group is the same? Are there any other things to take in mind?

[2020-08-14 21:43] shalomcbouncex commented on #280
Maybe having a flag/option to replace Nan values with 0 automatically, Kubernetes can't handle Nan obviously and this unexpected value cause it to scale to the maximum. In my case, when the histogram has not traffic the result ends up as Nan and I found myself hacking the query to end up with the same label set but with 0 instead of Nan.

[2020-08-17 02:49] Cweiping opened #310 "How to replace metrics server to complete the function of kubectl top"
I can see that the adapter is docking `custom.metrics.k8s.io` API supports HPA custom metrics, but it does not completely replace the functions of metrics-server. `kubectl top` doesn't work when I create `apiservice/v1beta1.metrics.k8s.io`.

How should I implement this scenario?

[2020-08-19 08:40] wangycc opened #311 "Prometheus outside kubernetes cluster. how to use?"
i have the Following prometheus rule:
[code]

prometheus-adapter Rule-Definition:

[code]

and querying the metrics-api gives me the Following:

[code]

prometheus adaper log(urldecode):
[code]

I expect to get the following query request:
[code]

would be great if anyone could help me finding the correct way to get this working :)

[2020-08-19 11:52] wangycc commented on #219
I also want to know how to solve it, because my metric does not have a namespace label.

prometheus metrics:
[code]

prometheus-adapter rules:
[code]

[2020-08-19 12:01] wangycc commented on #281
I also want to know how to solve it, because my metric does not have a namespace label.

prometheus metrics:
[code]

prometheus-adapter rules:
[code]

[2020-08-24 09:54] hila3000 commented on #307
FYI, This got fixed using this config-
`    - metricsQuery: sum by (kubernetes_pod_name) (hydra:api_latency_seconds:avg)
      name:
        as: hydra_server_api_latency
        matches: ^.*
      resources:
        overrides:
          kubernetes_namespace:
            resource: namespace
          kubernetes_pod_name:
            resource: pod
      seriesQuery: hydra:api_latency_seconds:avg{kub

[2020-08-24 09:54] #307 closed

[2020-08-24 18:00] Ping-Lin-108 commented on #311
what do you see when you query `kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/` ???

[2020-08-24 18:14] Ping-Lin-108 commented on #309
https://nuvalence.io/building-a-k8s-autoscaler-with-custom-metrics/ from the article, the author didn't override the resource, so what do you see when you do
 `resources:
        template: <<.Resource>>` and remove the rest of override part?

by the way, I also encounter the same issue, but I resolved by removing `<<.LabelMatchers>>` in the metricsQuery. you could take a shot at it.

[2020-08-24 18:18] Ping-Lin-108 commented on #305
not sure if these 2 services has anything related to each other. but if you need to scale another service, I think just create another hpa and target to the service metric.

[2020-08-24 21:00] Ping-Lin-108 commented on #255
my labels disappear if i put <<.LableMatchers>> in the metric query, but this works for me!!!

[2020-08-25 09:03] wangycc commented on #311
[code]
@Ping-Lin-108 This is the output info. My  metrics do not have metrics associated with k8s namespace.

[2020-08-25 11:32] Diontsoumas commented on #309
Also, how did you install prometheus-adapter and which version? I installed it through the helm chart, its latest version, and external metrics return a not found error (`Error from server (NotFound): the server could not find the requested resource`).

[2020-08-25 14:35] rnkhouse commented on #309
So, in my case, I found out that I was using prometheus-adapter with kube-metrics-adapter. I removed kube-metrics-adapter and it worked.

[2020-08-26 17:42] Ping-Lin-108 commented on #311
I think you only have `palfish_api_request_per_second` under the custom metric api..  is it the same one as you describe above 'api_request_per_second' ? if yes, I think you could get it by through this call `kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/statefulsets.apps/palfish_api_request_per_second`?

btw, is  `palfish_api_request_per_second` under namespace called 'service'?

[2020-08-28 19:10] igcherkaev commented on #104
yes, indeed, would be very helpfull!

[2020-09-01 02:03] wangycc commented on #311
These two metrics are exactly the same.
I try to access without the namespace parameter.
[code]
log:
[code]
It seems that I can't directly access through statefulset api.

[2020-09-03 07:54] s-urbaniak commented on #310
If you configure `resourceRules` section the prometheus-adapter will also host resource metrics, see the deployment example in https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/7a421bb91e9ea52be4e26db22392c36c8af38bc8/deploy/manifests/custom-metrics-config-map.yaml#L73-L98.

[2020-09-03 07:55] s-urbaniak commented on #306
We are planning to move this repository into a more kubernetes canonical organization. Once this happens the issue should resolve itself.

[2020-09-03 07:57] s-urbaniak commented on #311
@wangycc As commented in https://github.com/prometheus-operator/kube-prometheus/issues/651#issuecomment-686320709, custom metrics are always namespace bound, that's by design in the custom metrics API.

[2020-09-03 07:57] #309 closed

[2020-09-04 07:28] s-urbaniak commented on #280
fixed in #308

[2020-09-04 07:28] #280 closed

[2020-09-04 08:00] s-urbaniak commented on #274
fixed in #274

[2020-09-04 08:00] #274 closed

[2020-09-06 13:00] MohitBaj commented on #283
Faced the same issue with same use case, solved it by using **external metrics server** instead of using custom metrics server. In case of using Object, HPA was scaling the deployment to maximum or minimum number of pods, this was not the problem in external metrics server.

[2020-09-08 14:08] pbn4 opened #312 "Creating istio_requests_total custom metric for HPA"
Prometheus-adapter image:  quay.io/coreos/k8s-prometheus-adapter-amd64:v0.5.

I need some help with defining a custom metric for scaling a deployment based on total_requests_for_deployment / number_of_pods_in_replicaset. When done I think it will be useful to wider group of people.

OK Here's what works,  but is not taking into consideration number of pods in replicaset:

[code]

now I would like

[2020-09-11 07:49] Rich-yi commented on #74
有有效的解决办法了吗

[2020-09-16 00:04] navatha112 opened #313 "how to add multiple prometheus into single adapter deployment"
I have multiple prometheus pods, where each pod scrapes metrics from a single namespace(where an application runs)
All the prometheus pods are in a namespace (monitor). I have enabled prometheus adapter on the namespace where our prometheus pods lies. Each application in different namespaces want to autoscale based on custom metrics.
How do we enable prometheus-adapter for this

[2020-09-16 19:47] Shadowssong commented on #312
@pbn4 Not sure if it would solve it for you but I was trying to solve the same thing, ran into your same issue but found another approach that works with HPA by treating it per pod instead of per service, as the HPA will know the pods in your deployment that it is attached too:

[code]

Because the HPA will query based on each pod it treats each metric as pod specific (there is a pod_name in the i

[2020-09-17 07:08] vishwasmittal commented on #227
I came across this issue with the following log:
[code]

Turns out the `system:serviceaccount:custom-metrics:custom-metrics-apiserver` couldn't not access `extension-apiserver-authentication` config map required to verify the request headers.

To fix this, add `configmaps` to `resources` in `k8s-prometheus-adapter/deploy/manifests/custom-metrics-resource-reader-cluster-role.yaml` and apply it.

Yo

[2020-09-22 20:40] b0nete opened #315 ""the server is currently unable to handle the request""
Hi guys, i'm trying using prometheus-adapter for publish metrics in my kubernetes cluster from my prometheus.

I've deployed prometheus-cloudwatch-exporter and im sending metrics to prometheus; i can see the metrics with this format:

[code]

The follow are my prometheus-adapter values deployed with helm3 in monitoring namespace:
[code]

I tested this using custom and external metrics;
For some re

[2020-09-24 13:27] mjroson commented on #315
I have the same problem. Any idea?

[2020-09-25 20:39] bwkerbow commented on #298
Im having the same problem. did yall manage to solve it?

[2020-09-25 20:41] bwkerbow commented on #281
did yall ever solve this issue of the "resources" being empty at the `apis/custom.metrics.k8s.io/v1beta1` endpoint?

[2020-09-29 13:25] desreela opened #320 "HA & Scaling for Prometheus-adapter itself"
All the documentations on prometheus-adapter refer to a single replica of the adapter pod itself.  What is the recommendation for  high availability and scaling of the adapter itself.
Can we have multiple replicas of the adapter pod to ensure that we are not running into resource contention/single point of failure.

[2020-09-30 13:40] Nurza opened #321 "Empty metrics in k8s metrics api"
Hello, I am really struggling with getting kafka metrics with k8s-prometheus. Here is some informations:

K8 version: 1.18.9
Prometheus version: 2.20.1 (Installed with helm: https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/Chart.yaml)
Adapter version: 0.7.0 (Installed with helm: https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus-adapter/C

[2020-10-05 07:00] acelabs88 opened #322 "Configure TLS client certificate authentication"
Is it possible to enable TLS client certificate authentication? In this case, the client will be k8s API server.

[2020-10-05 22:53] carsonoid opened #323 "Feature Proposal: Support # in metric labels"
We have [nsq](https://nsq.io/) metrics in Prometheus. We are able to export these using the adapter.

## Problem

In some cases we are unable to use the adapter to filter metrics based on topic or channel because our topics and channels can contain `#`, which is a valid Prometheus label value but not a valid Kubernetes label value.

## Proposed Solution

I propose that we add the ability to enable

[2020-10-05 23:47] carsonoid opened #324 "Feature Proposal: Allow External Metrics to return metrics for a different namespace"
## Issue

I have a single [nsq](https://nsq.io/) installation in a K8s namespace named `nsq`.  But I have many deployments in different namespaces that need to autoscale using a topic and/or channel depth from the central installation.

The [external metrics proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/external-metrics-api.md#api) requ

[2020-10-07 09:45] Nurza commented on #321
I finally managed to fix this issue by putting this in the adapter's helm Chart value.yaml file:

[code]

[2020-10-07 09:45] #321 closed

[2020-10-08 10:36] rishi1111 commented on #301
Any Luck with this, im also trying to install prometheus adapter with helm charts.

[2020-10-08 10:37] rishi1111 commented on #298
+1 same issue any luck guys

[2020-10-08 11:08] rishi1111 commented on #298
I could resolve this issue by setting
prometheus.path = "/prometheus" (change as per your env)

[2020-10-08 11:14] paulfantom commented on #323
Weird, it looks like there is something undocumented on prometheus side as according to https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels `#` is not a valid character in label name. Quote:

[2020-10-08 17:59] Oxyaction commented on #315
have the same problem on namespaced-only requests

[2020-10-10 00:42] bwkerbow commented on #298
Nice @rishi1111.

I solved as well, in my case the issue is that I specieied the prometehus url to be the cname of my prometehus server, and there was an authorization issue there. To get around that, I just used the automatically generated DNS record for the k8s service (https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#services) that the CNAMEs ingress was pointing to.

[2020-10-14 23:53] arielvinas commented on #315
https://keda.sh/ squab...

[2020-10-15 10:19] h4ckroot commented on #324
I have a very similar use case, and I wonder if there is any workaround for this !.

[2020-10-15 14:44] carsonoid commented on #324
@h4ckroot  There is! I have already written code to do this. But I want to make sure that the proposed design is acceptable to @DirectXMan12

[2020-10-23 20:47] navathag commented on #164
@here could someone help me on this
At the custom metrics api endpoint i see the metrics and its value occassionally, it keeps disappearing often. What could be the reason for this

Thanks in advance

[2020-10-23 21:00] navathag commented on #77
@DirectXMan12 : i have my relist interval set to same as the prometheus scrape interval i still face the issue(metrics keep disappearing) sometimes i get the metrics while sometimes i get empty resources at "kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1
{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"custom.metrics.k8s.io/v1beta1","resources":[]}"

`custom-metrics-apiserver-dep

[2020-10-23 21:53] navathag opened #325 "resources shows empty ocassionally at "kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1" endpoint"
i have my relist interval set to same as the prometheus scrape interval i still face the issue(metrics keep disappearing) sometimes i get the metrics while sometimes i get empty resources at "kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1
{"kind":"APIResourceList","apiVersion":"v1","groupVersion":"custom.metrics.k8s.io/v1beta1","resources":[]}"

[code]
And prometheus config:

[code]
Could y

[2020-10-26 04:40] pulkitsapra opened #326 "Not able to give custom Config file for Prometheus Adapter"
I am using this Prometheus Adapter to expose `celery_tasks_total` as a custom metric from Prometheus.
This adapter is installed using Helm 3 as follows :

`helm install --generate-name prometheus-community/prometheus-adapter`

I want to provide my custom Config-Map to this adapter. I have tried the way instructed in the Readme for the Prometheus Adapter repository. But I am unable to do so.

- I t

[2020-10-26 08:44] s-urbaniak commented on #326
Please open an issue in the helm repository itself. We are not maintaining the helm charts here.

[2020-10-26 08:44] #326 closed

[2020-10-26 08:54] #254 closed

[2020-10-26 08:54] #257 closed

[2020-10-27 02:19] jackwhelpton opened #327 "Custom metrics with a cluster-scoped CRD not behaving"
I was hoping to use a CRD to solve a mismatch between Prometheus labels and resources in a k8s cluster, but things don't appear to be working as I expect.

I am running the adapter in a separate namespace (`kube-system`) from my app/HPA. It seems that I can only scale on a metric in the same namespace: I do not have control over the Prometheus source, so I can't add a label that directs the metric

[2020-10-27 06:09] jackwhelpton commented on #327
Ah, this seems to be because external metrics are always namespaced. As the metrics are associated with a CRD within the cluster, I suspect that custom (rather than external) metrics may be the way to go.

[2020-10-27 14:35] s-urbaniak commented on #327
Maybe try:
[code]

[2020-10-27 14:59] jackwhelpton commented on #327
I think what I'm struggling with here is what the namespace should be, as my CRD is cluster-scoped. I have the adapter in a separate namespace (currently kube-system) from the app I'm trying to scale...

It seems like I can only scale on custom metrics in the same namespace as the HPA/app, so I'd either need to add a label to the Prometheus metric (this isn't really an option for me) or run the ad

[2020-10-27 15:36] jackwhelpton commented on #327
I've also tried creating everything in the same namespace (CRD, CRD instances, adapter, app) but receive:

[code]

[2020-10-27 17:25] jackwhelpton commented on #327
As another attempt, I've experimented with returning to an external metric once everything is running in the same namespace:

[code]

[code]

and hoping to rely on `labelSelector` to pick out the particular queue. However, I can't pick this up either:

[code]

Given that's an `InternalError`, let me see what I can find in the adapter logs...

[2020-10-27 21:39] jackwhelpton commented on #324
I'd also be interested in something exactly like this, and am curious if there's a workaround until your code lands. I've tried several things over the last day or so: I wondered if I could use a cluster-scoped CRD as the target of a custom metric, but so far nothing seems to have worked out.

[2020-10-28 20:41] flaker opened #329 "Image from dockerhub is crashing"
I didn't change my config at all, just pulled the new image (are there any specifics for updating?). Everything seems to start properly and then it crashes.

[code]

I am not sure what's "latest" in dockerhub since the last tag I see here is 0.8.0.

directxman12/k8s-prometheus-adapter-amd64:latest
DIGEST:sha256:ba5a8b32ddbe254b468700afb5ec2187a7cd9475b15c6f067bb8e99014ff923e

[2020-10-29 08:08] SockenSalat commented on #329
I tried to deploy v0.8.1 an ran into the same error

[2020-10-29 09:10] kforsthoevel commented on #329
Same thing here with v0.8.1

[2020-10-30 00:06] effndc commented on #329
The timing for this issue correlates with the commits from October 28th, I had several successful deployments prior to these commits and none since they were applied.

https://github.com/DirectXMan12/k8s-prometheus-adapter/commit/752ce847239b82078a9cdd6d80979bee443475d3#diff-4d0b81c92e53ab757dd6ce4dca5fdf332665e5e6d01e2e8465e517f5549886cd
https://github.com/DirectXMan12/k8s-prometheus-adapter/comm

[2020-10-30 11:21] cheng0214 commented on #329
I test v0.7.0. It's ok.  maybe you can test it.

[2020-11-02 08:40] yolossn commented on #327
+1 facing the same issue.

[2020-11-02 09:33] s-urbaniak commented on #324
@carsonoid (note: I took over maintainership of prometheus-adapter): agreed I think we need to support the use cases of non-namespace bound external metrics better in prometheus-adapter. Your solution (I think) though relies on underlying metrics to have a namespace present as a label.

However, if we want to support non-namespaced metrics isn't it legit to demand from the underlying label that it

[2020-11-02 12:13] johanneswuerbach commented on #329
Could you share the config you are using? We also updated to 0.8.0 and haven't see in a crash in ~4 days.

[2020-11-02 12:18] s-urbaniak commented on #329
also could you also please submit the kubernetes versions? it _sounds_ like it is related.

[2020-11-02 12:20] shreben commented on #329
I'm using k8s 1.17.13.

[2020-11-02 19:54] dobesv commented on #305
If you have a metric for the number of messages in a kafka queue it is technically possible to scale based on this, but documentation is not great, you'll have to dig around to figure out the right YAML configs for this custom metrics process and in the HPA config.

[2020-11-02 21:27] qlikcoe commented on #329
/follow

[2020-11-02 21:42] effndc commented on #329
Kubernetes v1.18.4 here.

[2020-11-03 02:54] cheng0214 commented on #329
k8s version:  v1.18.8 (docker for Desktop Mac)
I also meet the cash issue with 0.8.0 and 0.8.1. Now use 0.7.0 is normal.
k8s-prometheus-adapter config is below:
[code]

[2020-11-03 06:38] dobesv opened #331 "apiserver panic'd on GET /apis/custom.metrics.k8s.io/v1beta1"
I've been seeing this error on a regular basis in the logs, but I'm not sure what the root cause might be.  It seems like at the very least it should be able to catch the error and log something less scary.

[code]

[2020-11-03 06:40] dobesv commented on #331
Here's a gist with all the kubernetes YAML files:

https://gist.github.com/dobesv/24a5f81bddd1a7008135f3763abec4d5

[2020-11-03 06:41] dobesv commented on #331
It's version `0.7.0`

[2020-11-03 06:53] dobesv commented on #331
If I update to version `v0.8.1` I get the error mentioned in https://github.com/DirectXMan12/k8s-prometheus-adapter/issues/329

[2020-11-03 06:57] dobesv opened #332 "Suggested deployment configuration does not set resource limits / requests"
It would probably be nice to have some idea how much memory & CPU this needs so it can be scheduled to a node with enough resources and not get OOMKilled.

I noticed while running it, it actually uses a fair amount of memory, which surprised me.

![image](https://user-images.githubusercontent.com/327833/97956967-ce49b380-1d5e-11eb-84ee-fb337ad0213e.png)

[2020-11-03 07:32] s-urbaniak commented on #332
@dobesv It really depends how you use k8s-prometheus-adapter. Do you mind sharing your configuration?

Unfortunately prometheus-adapter is not very well optimized with respect to custom and external metrics, especially regarding memory usage. It grows the bigger or more complex your configuration is.

[2020-11-03 07:48] dobesv commented on #332
A recent version of my config is here:

https://gist.github.com/dobesv/24a5f81bddd1a7008135f3763abec4d5

I've since added more replicas and pod anti affinity to it, but the actual configuration parts have not changed.

I guess it's tough to decide whether to put some kind of "default" resources in the example configs or leave it absent.  I think it's nice to have that in there so that people will

[2020-11-03 08:12] dgrisonnet commented on #324
I agree with @s-urbaniak here, external metrics may not have a namespace label present so we would still end up with the same issue. The reason why metrics from different namespaces are not scrapable right now lies down to the namespace label being enforced by the adapter from the HPA query. Introducing a way to drop it, would allow both supporting external metrics from different namespaces and ex

[2020-11-03 15:33] carsonoid commented on #324
@dgrisonnet that's a good idea. My only concern is that it could be a bit confusing. AFAIK, the only place we can pass information to the adapter is in the labels of the metric query, which would also be where we would set the `namespace` label. So we would end up moving my proposal to something like this right?

[code]

That would absolutely work. But might be a bit confusing to say "ignore the n

[2020-11-03 16:02] dgrisonnet commented on #324
Not exactly, I meant to drop the enforcement by setting `namespaced: false` in the adapter config as @s-urbaniak suggested. From the adapter perspective, that would mean that the external metric is accepted from all namespaces.
Then, if the metrics needed by your HPA need to be selected with a specific namespace label value, nothing prevents you from setting it in the HPA's label selector.

You wo

[2020-11-03 16:12] carsonoid commented on #324
Oh! Yeah that makes a lot more sense and would be much cleaner.

I can take a run at a PR for it if you want. It would get me closer to not
needing a fork of the adapter to handle my autoscaling configuration.

On Tue, Nov 3, 2020 at 9:02 AM Damien Grisonnet <notifications@github.com>
wrote:

[2020-11-03 17:28] dobesv commented on #325
Have you tried setting your relist interval to a much larger value than prometheus' scrape interval?  Maybe 150s ?

[2020-11-03 17:45] navathag commented on #325
@dobesv what would be the best value for this relist interval? and i am passing multiple metrics for adapter so do i have to increase the relist interval everytime i increase the metrics through config for adapter?

[2020-11-03 19:14] dobesv commented on #325
The "relist interval" refers to the time range used to discover metrics, so the custom metrics will only consider metrics that have a sample available within that time.

I think the concern with setting the interval close to the scrape interval of prometheus is that if prometheus runs into any delays with scraping then there might not be any data available within that interval at all.

With a long

[2020-11-03 20:44] navathag commented on #325
@dobesv thankyou for the response. As you mentioned My concern of setting relist interval long is if it take a long time for a pod's data to be available from the metrics server. Will try with interval set to more than scrape interval and observe for a while.
And also sometime when i don't see metrics at api end point i checked for adapter logs and error message says

`I1030 20:11:13.573075

[2020-11-04 08:25] SockenSalat commented on #329
I'm using `v1.19.2` the confguration works fine with `v0.7.0` and `v0.8.0` but crashes with `v0.8.1`.

POD's log:

[code]

[2020-11-04 08:35] s-urbaniak commented on #329
ok, i am looking into this :thinking:

[2020-11-04 08:42] s-urbaniak commented on #329
@SockenSalat do you mind to share your configuration?

[2020-11-04 09:37] s-urbaniak commented on #324
@carsonoid @dgrisonnet thank you for the great discussion! Yes @carsonoid if you want to contribute, that would be great! Side note: as we are in the process of moving this repository to kubernetes-sigs, do you mind to sign the CNCF CLA as described in https://github.com/kubernetes/org/issues/2182#issuecomment-691877843 ? (If you haven't done already)

[2020-11-04 09:39] s-urbaniak commented on #324
Just to sum up, enforcing the namespace for this scenario can be achieved imho in many ways:
- you can use a recording rule which enforces the namespace
- you can enforce the namespace label even in the series query itself `- seriesQuery: 'nsq_topic_depth{namespace="nsq"}'`
- using a HPA label selector as mentioned above

[2020-11-04 10:06] SockenSalat commented on #329
@s-urbaniak my config looks as follows:

[code]

[2020-11-04 10:21] s-urbaniak commented on #329
ok, thank you @SockenSalat I think we have a bug in custom metrics handling.

[2020-11-04 14:58] dgrisonnet commented on #329
I was able to reproduce this bug in a `v1.19.2` cluster with the adapter `v0.8.1` only. The bug shows up only with custom and external metrics.
I used the following configurations:
[code]
[code]

As the bug doesn't seem to occur in `v0.8.0`, I'd guess that it was introduced by the k8s dependencies update to 1.19.
Also, this bug seems to be a bug in `custom-metrics-apiserver` more than this reposit

[2020-11-04 15:07] MatthewPattell opened #333 "Question: I don't understand how to write a rule. Help me write correct seriesQuery with template."
I have prometheus data:
[code]

Results:
[code]

My adapter config:
[code]

The namespace name is contained in "ingress" key. Example: **microservices-ingress-hello2**, where **hello2** is namespace.
I don't understand how to write a rule.

I want use **request_per_second** in hpa like:
[code]

[2020-11-04 15:27] johanneswuerbach commented on #329
I saw something similar when exposing routes twice, maybe that is something similar?

https://github.com/kubernetes-sigs/custom-metrics-apiserver/commit/1b94a3826f0bcc595e27cf1c4f6ac690794e18b0#diff-bdb26aec40370ac657bb0e17a120b62f27dba77c79c2b5f6ef0243a394803cdbR225

Maybe the types also need to be re-generated with k8s 1.19 apis? https://github.com/kubernetes-sigs/custom-metrics-apiserver/blob/m

[2020-11-04 16:00] carsonoid commented on #324
Oh! Yeah the recording rule is an interesting idea. Those should probably all bin in a "dealing with namespaces" section in the docs.

[2020-11-05 07:41] smitthakkar96 commented on #45
@DirectXMan12 why can't we just add an attribute called prometheusUrl to the metric definition to start with. This is blocker for lot of people and this issue has been open since 2018

[2020-11-05 08:55] MatthewPattell commented on #333
Ok, a just configure relabel in prometheus.

[2020-11-05 08:55] #333 closed

[2020-11-05 14:43] dgrisonnet commented on #45
@smitthakkar96 would you be interested in contributing to this feature?

On a side note, running multiple Prometheus instances is already possible by using Thanos querier as explained here: #267

[2020-11-05 15:25] smitthakkar96 commented on #45
I am interested in contributing, we tried you cannot do query based routing
with Thanos Querier as you are expecting.

On Thu, 5 Nov 2020 at 18:43 Damien Grisonnet <notifications@github.com>
wrote:

[2020-11-06 08:44] dgrisonnet commented on #45
Awesome! Would you mind opening a feature request to give more details about how you want to solve this and answer the few concerns that were raised earlier in this issue?

[2020-11-07 16:09] destanyinside commented on #329
k8s v1.18.6
Prometheus adapter version v0.8.1 and v0.7.0 crush with error like @SockenSalat

[2020-11-08 20:25] alitoufighi commented on #329
Same issue with default configuration (from [prometheus-community](https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-adapter) guys) in K8s v1.19.0.
I just changed prometheus-adapter tag to v0.8.1.

[2020-11-09 03:31] timClicks commented on #331
This affects me too. It brings down the API endpoint.

[code]

[2020-11-09 11:25] johanneswuerbach commented on #329
@s-urbaniak this should resolve the issue https://github.com/kubernetes-sigs/custom-metrics-apiserver/pull/75

[2020-11-09 20:24] hugobcar commented on #137
Instead of using cloudwatch-export, take a look at this tool https://github.com/hugobcar/tiamat. This renamed sqs metric names to use with prometheus-adapter

[2020-11-10 16:54] #329 closed

[2020-11-10 17:09] s-urbaniak commented on #331
This should be fixed in #335

[2020-11-10 17:10] #331 closed

[2020-11-11 08:15] s-urbaniak commented on #45
I think we should stick to what we proposed in https://github.com/DirectXMan12/k8s-prometheus-adapter/issues/267. Thanos Querier is a stateless component which is easy to deploy and implements many edge-cases and concerns that can become quite complex and intricate to be implemented here.

For the sake of simplicity I would not implement this here.

@smitthakkar96 Is there any use case that is not

[2020-11-11 08:42] smitthakkar96 commented on #267
to achieve this you need to use partial response strategy for which you need to specify partial_response in the query args which I guess is not possible to do with prometheus-adapter. https://github.com/thanos-io/thanos/blob/master/docs/components/query.md#partial-response

There is no clear way to tell querier that for this metric look at this prometheus.

[2020-11-11 08:45] smitthakkar96 commented on #45
to achieve this you need to use partial response strategy for which you need to specify partial_response in the query args which I guess is not possible to do with prometheus-adapter. https://github.com/thanos-io/thanos/blob/master/docs/components/query.md#partial-response

There is no clear way to tell querier that for this metric look at this prometheus. People usually use thanos querier incase

[2020-11-11 16:05] Nurza commented on #255
Same problem here. This issue is opened since 1 year :(

But the solution "Downgrade to adapter 0.5.0 and queries like 'kafka_minion_topic_partition_message_count{<<.LabelMatchers>>}' works for me.

[2020-11-11 16:31] s-urbaniak commented on #267
@smitthakkar96 for partial response, you can specify the `query.partial-response` flag as a startup parameter. also cc'ing @bwplotka (maintainer and founder of Thanos) and @metalmatze who both are part of the team I am working with here at RedHat if they have additional pointers or advise for your use case. As far as I see querier does not support metric based routing to different Prometheus insta

[2020-11-12 10:31] harrisjoseph commented on #315
I've hit the same problem with custom metrics where `"namespaced": false`, namespaced metrics are fine.

I assume i'm not formatting the request path correctly. I can't find any docs in the custom-metrics-apiserver repo that describe the expected request format for non-namespaced metrics. I'd expect this, but could be very very wrong:
[code]

[2020-11-12 12:59] Oxyaction commented on #315
I've resolved my issue with specifying the correct query path

initially used
[code]
while the correct URL is
[code]

It mentioned in
https://github.com/DirectXMan12/k8s-prometheus-adapter#i-get-errors-when-query-namespace-prefixed-metrics

[2020-11-12 16:48] harrisjoseph commented on #315
Using the correct URL has, as you might hope, fixed this issue.

This is the wrong place to ask this, but has anyone seen the expected metrics-apiserver API url scheme documented anywhere? Do people need to generate openapi docs themselves to find out which routes are exposed by a metrics-apiserver implementation?

I see nothing in the spec & reference implementations:
* https://github.com/kuberne

[2020-11-16 14:03] s-urbaniak commented on #255
cc @dgrisonnet maybe you can have a peek at this one? thank you!

[2020-11-16 15:14] TamasSzigeti commented on #268
Same issue here…

[2020-11-16 16:42] carpino opened #337 "Set host problem"
Hi i have tried deploing the adapter in two different ways but I have obtained errors for both, this is what I have done:

helm install adapter --namespace default --set prometheus.url=prometheus-server.default.svc.cluster.local --set prometheus.port=80 prometheus-community/prometheus-adapter

—>

E1116 16:32:35.161193       1 provider.go:209] unable to update list of all metrics: unable to fetch

[2020-11-16 18:51] dgrisonnet commented on #255
If I understand this issue correctly, it only happens with external metrics that are not namespaced (don't have a namespace label) and it is caused by the namespace enforcement for external metrics.

Even though the problem surface with the use of labelSelectors, the issue seems to be related to the fact that the prometheus-adapter doesn't handle non-namespaced external metrics properly.

Recently

[2020-11-17 18:50] dgrisonnet commented on #315
@harrisjoseph you should be able to get information about the custom and external metrics APIs at the beginning of the README.

There are the following links to the design documents of both APIs:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/external-metrics-api.md
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/

[2020-11-17 19:12] harrisjoseph commented on #315
I'm sorry if my question was in any way offensive. Thanks for the links to those design proposals 🙂

[2020-11-18 07:04] TamasSzigeti commented on #268
The helm chart – and the config above – is missing the correct dnsPolicy. This is how I solved it:

[code]

And the patch is:
[code]

`hostNetwork: true` is already set by the chart correctly.

[2020-11-18 08:38] cctv86 opened #338 "kubectl panic"
Hi, I just found a issue, please help me.

kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/*/prometheus_http_requests"

/go/src/github.com/directxman12/k8s-prometheus-adapter/vendor/k8s.io/apiserver/pkg/endpoints/filters/cachecontrol.go:31 +0xa8
net/http.HandlerFunc.ServeHTTP(0xc00090acc0, 0x20b7540, 0xc000fd5a40, 0xc038520b00)
	/usr/local/go/src/net/http/server.go:2036 +0x44
git

[2020-11-18 10:01] dgrisonnet commented on #315
It was not offensive at all, sorry if I conveyed a wrong feeling here, I didn't mean it. I just wanted to point out where this information is in the documentation. I think your question is very valid and I wouldn't be surprised if other users have the same interrogations, so I was trying to see if we could improve the documentation.

[2020-11-18 10:08] dgrisonnet commented on #338
Hi, it seems that you are querying an invalid endpoint. You should use the following command instead:
[code]

If you want to know the different API paths of the custom metrics API, you can find them here: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/custom-metrics-api.md#api-paths

[2020-11-18 10:42] brandshaide opened #339 "Prometheus adapter pods crashing with unable to construct custom metrics provider"
I'm deploying Promethaus Adapter using the provided `Helm Chart`, but the pods are falling into a `CrashLoopBackOff`.
By digging into the logs I'm seeing this:

[code]
Apparently the adapter is not being able to establish a connection to a endpoint, but what is the acutal issue? 🤷‍♂️

`prometheus url` and `port` are defined correctly in my `values.yaml`

Thank for your help.

[2020-11-18 15:06] brandshaide commented on #339
missing `NetworkPolicy` and thus not being able to query `API-Server`

[2020-11-18 15:06] #339 closed

[2020-11-19 07:16] cctv86 commented on #338
@dgrisonnet thanks for your help

[2020-11-19 14:39] dgrisonnet commented on #337
Hi @carpino, you need to add the protocol scheme when specifying the url of your prometheus server. In your case:
[code]

[2020-11-24 14:57] munipravy opened #340 "Hpa is failing with the following specification."
@DirectXMan12 dgrisonnet
Deployed Prometheus adaptor in kubernetes version 1.17

followed steps from below git repo for deploying prometheus adaptor
https://github.com/DirectXMan12/k8s-prometheus-adapter/tree/df3d247308816266b471032d2c6e9ff74d95fe06/deploy/manifests

Adaptor deplyment yaml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  labels:
    app: custom-metrics-apiserver

[2020-11-24 17:57] anden-dev opened #341 "Failed to get /openapi/v2 and /swagger.json: Created Component, but require templated one."
Hello all:

[v0.8.2](https://github.com/DirectXMan12/k8s-prometheus-adapter/releases/tag/v0.8.2) had some unfortunate side-effect on us. The fix #335 broke [kubernetes-external-secrets](https://github.com/external-secrets/kubernetes-external-secrets/)

[code]
Only way to get it back to working was reverting to v0.7.0 and deleting the apiservice v1beta1.custom.metrics.k8s.io

Tickets:
[external-sec

[2020-11-24 18:48] dgrisonnet commented on #340
@munipravy did you add the `kafka_consumergroup_lag` metric to the prometheus-adapter configmap or just deployed the manifests as they are in this project?

Also, can you please give me the output of the following query?
[code]

[2020-11-26 10:09] atownsend247 opened #342 "Custom Metrics not scaling HPA correctly, doesn't get returned on wildcard"
Hey all,

I'm currently having an issue when setting up a HPA to look at a custom metric provided from the prometheus adapter.

I have the following set in my 'values.yaml', which in my prometheus ui I can successfully query and get results for example like the following; which I believe is correct shown in the table below..

Element | Value
-- | --
logstash_node_proc_mem_load_percent_total{app="l

[2020-11-26 13:33] dgrisonnet commented on #341
Hello @anden-dev,

After going through the various links you provided, I would say so.
So far, we've not seen any other issue with the content of the openapi spec that is served by prometheus-adapter and the error you are seeing seems to induce a bug with the openapi client you are using. My hunch mainly comes from a similar issue already existing there and the fact that the error message your are

[2020-11-26 22:48] calexandre commented on #292
I'm running k8s 1.18.3 and was brought here by the same issue.
Your fix @shardulsrivastava works wonders.

Thank you!

[2020-11-27 08:53] anden-dev commented on #341
Thought as much.

There is a rewrite in go coming anyhow which will also mean a new openapi client [external-secrets/external-secrets](https://github.com/external-secrets/external-secrets).

Thanks for your input.

[2020-11-27 08:53] #341 closed

[2020-12-01 08:13] tcolgate opened #343 "Panics in logs are overly verbose"
We're seeing one of our k8s-prometheus-adapter instances throwing frequent panics.
[code]
This appears to be due to the server having gone away waiting for the response. The actual response time issue is unfortunate, and I need to investigate further however  they probably don't warrant a full go routine stack dump. I'm getting 90 lines of logs for each incident, which makes any other underlying i

[2020-12-01 10:58] tcolgate commented on #343
So, turns out that the particular panic was caused by an attempt to write to a closed socket, that was happening because I had a TCP health check configured. I've switch to using /livez and /readyz and things look better

[2020-12-01 10:58] #343 closed

[2020-12-02 18:00] dgrisonnet commented on #342
Hey @atownsend247,

I was able to reproduce this bug locally, it seems to be a bug with prometheus-adapter when using namespace and pod labels that are different from `namespace` and `pod`.
It's worth noticing that I was only able to reproduce it on the following custom-metrics API path: `/namespaces/{namespace-name}/{object-type}/*/{metric-name...}`.

That being said, would you be able to achieve

[2020-12-04 02:17] pulkitsapra commented on #251
Hi did you figure out how to do it ?

[2020-12-04 02:28] mJace commented on #251
@pulkitsapra I think it's not able to do division in metricsQuery.
So I calculate it before prometheus-adatper queries it. or you can do this on the grafana side.

[2020-12-04 02:29] pulkitsapra opened #345 "Division in metricsQuery while supplying ConfigMap"
Hi!

I want to do metric Division in "metricsQuery" parameter while suppying my custom Config Map. Is it possible to do it?
[code]

P.S I can get individual value for both the metrics 'redis_queue_length_worker' and 'celery_workers' by changing the metricsQuery as follows :
` metricsQuery: redis_queue_length_workers` or ` metricsQuery: celery_workers` but when I try to do division I get error when

[2020-12-04 02:35] pulkitsapra commented on #251
@mJace
https://github.com/DirectXMan12/k8s-prometheus-adapter
Under Heading `FAQs` and Subheading `My query contains multiple metrics, how do I make that work?` They have performed division but i wonder how is that working?

[2020-12-08 01:41] pulkitsapra commented on #345
Just figured out a solution to it!

For the application of an operator like ( '+', '-', '/', '*') to 2 series, **the labels must match exactly** otherwise, the output is 'No data found'. If the labels are not the same, one can specify the keyword **' ignoring '** and put the labels that don't match in braces. Pl see the config file below that worked for me.

[code]

[2020-12-08 01:41] #345 closed

[2020-12-08 13:24] mdskfaisal opened #346 "HPA not picking results from apdater api server"
I am using Prometheus Operator with HPA
Looing for : Trying to trigger HPA using Prometheus adaptor.
I could see results from apis/custom.metrics.k8s.io/v1beta1/namespaces/prometheus-qa3/pod/*/kafka_consumergroup_lag
but not sure why hpa is not picking it up.
All the yaml code is given below.
Any help will be very appreciated.
GKE Version  : 1.16.13-gke.404

Hi Team,
I am using the installation of

[2020-12-08 13:29] mdskfaisal commented on #346
k8soptr@jumpbox:~/praveen/xman/working$  kubectl get --raw /apis/custom.metrics.k8s.io/v1beta1/namespaces/prometheus-qa3/pod/*/kafka_consumergroup_lag | jq
{
  "kind": "MetricValueList",
  "apiVersion": "custom.metrics.k8s.io/v1beta1",
  "metadata": {
    "selfLink": "/apis/custom.metrics.k8s.io/v1beta1/namespaces/prometheus-qa3/pod/%2A/kafka_consumergroup_lag"
  },
  "items": [
    {
      "descr

[2020-12-09 06:06] mdskfaisal commented on #346
@DirectXMan12  @s-urbaniak
Any help would be very appreciated.

[2020-12-09 09:11] stafot commented on #292
/cc @DirectXMan12 @brancz I have the exact same problem (`1 runtime.go:76] Observed a panic: runtime error: invalid memory address or nil pointer dereference goroutine 698 [running]:`),while  trying to deploy `prometheus-adapter` in `kops`. I used the manifests from `kube-prometheus`. Tried to deploy it in `prometheus` and `kube-system` namespaces with no success. Previously had the same setup on

[2020-12-09 12:37] brancz commented on #292
cc @s-urbaniak

[2020-12-09 13:16] s-urbaniak commented on #292
hmm, i have never observed this behavior, let me dig into the code, maybe i'll spot something :thinking:

[2020-12-09 13:21] s-urbaniak commented on #292
@stafot can you please also submit the whole stack trace? is it the same as above?

[2020-12-09 13:33] s-urbaniak commented on #292
while doing some investigation together with @p0lyn0mial we figure the following fix might fix the issue here as well: https://github.com/kubernetes/kubernetes/pull/94589

[2020-12-09 13:40] s-urbaniak commented on #292
The above fix will be included in k8s 1.20 so we can re-asses once we bump to that version which should happen shortly.

[2020-12-09 14:49] stafot commented on #292
@s-urbaniak All the log file, including traces.
[code]

[2020-12-09 16:02] s-urbaniak commented on #292
@stafot thank you! yes, it seems that this is the same issue then and should be fixed (famous last words) in the next bump of the api machinery dependencies.

[2020-12-10 09:50] stafot opened #347 "Resource metrics API implementation don't work in KOPS"
Recently tried to substitute `metrics-server` with `prometheus-adapter` in a kops cluster.
While the custom metrics API discovery worked resource metrics API didn't. Had a similar setup in the past which was working as expected. Sharing below my manifests to see if there is any misconfiguration on my side causing this. The manifests are almost identical with `kube-prometheus`.

[code]

[2020-12-10 14:19] mdskfaisal commented on #346
Team,

It can be closed. I used external metrics and it worked with that.

[2020-12-10 14:19] #346 closed

[2020-12-10 14:20] mdskfaisal commented on #346
kind: HorizontalPodAutoscaler
apiVersion: autoscaling/v2beta2
metadata:
  name: kafka-consumer-application
  namespace: prometheus-qa3
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: kafka-consumer-application
  minReplicas: 1
  maxReplicas: 10
  metrics:
    - type: External
      external:
        metric:
          name: kafka_consumergroup_lag
        target:

[2020-12-11 06:03] victor23d opened #349 "document links are broken"
https://github.com/DirectXMan12/k8s-prometheus-adapter/tree/master/deploy

When I click the gencerts.sh and deploy.sh, the links are broken. Please update them.

[2020-12-11 06:59] victor23d commented on #349
Maybe this link:
https://github.com/prometheus-operator/kube-prometheus/blob/62fff622e9900fade8aecbd02bc9c557b736ef85/experimental/custom-metrics-api/gencerts.sh
https://github.com/prometheus-operator/kube-prometheus/blob/62fff622e9900fade8aecbd02bc9c557b736ef85/experimental/custom-metrics-api/deploy.sh

[2020-12-11 18:05] Chetan496 opened #350 "Please let me know how to install if Prometheus is already installed in different namspace."
**Question**
This is a question regarding the usage.
I have Prometheus already setup in a namespace called 'prometheus'
The pods (which I want the metrics for ) are running in a different namespace called 'development'
How do I setup the prometheus adapter using Helm? And which namespace should I use?
Sorry, I am new to Helm and Kubernetes , so need help.

**Version of Helm and Kubernetes**:

Helm

[2020-12-14 06:32] thotz opened #351 "[Question]: Need to scale RGW pod in Rook with help of Prometheus Adapter"
Hi,

I was trying to setup hpa for RGW pod in my [rook](https://rook.io/) cluster in a minikube(k8s version 1.19.2) with help of [config-walkthrough.md](https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/master/docs/walkthrough.md)

My Rook cluster has the following pods:
[code]
Configured Prometheus with help of [doc](https://rook.io/docs/rook/v1.5/ceph-monitoring.html). Here required me

[2020-12-14 14:16] dgrisonnet commented on #351
Hi @thotz,

Given your use case, I'd say custom-metrics is the right choice. External metrics are intended for metrics coming from outside a Kubernetes cluster whereas in your case, the metric is coming from inside your cluster.

That being said, your misconfiguration seems to be coming from your HPA metric source type. In your case, you chose the Pods type which get metrics from all the pods cont

[2020-12-14 15:51] s-urbaniak commented on #351
yes as @dgrisonnet described your use case is special as the entities exposing metrics (mgr pods) are different from your scaling target (store pods).

Is there a direct relationship between mgr pods or store pods? Could you rather scrape metrics from the store pods instead?

[2020-12-15 06:41] thotz commented on #351
Thanks, @s-urbaniak @dgrisonnet for replying quickly.
As per current design metrics can be scraped from MGR pods not from RGW pods, in the entire ceph cluster(includes OSD, MDS etc) metrics for Prometheus is provided by MGR pod. As you guys mentioned my case is a special case target pod and scale
 with providing suggestion IMO hpa created successfully
[code]
Coming to @dgrisonnet questions
 1.) Do

[2020-12-15 13:25] dgrisonnet commented on #351
Yes going with the `service` resource is the best option you have here.
From the configs you shared, I can understand that the HPA side is working properly although it's a bit weird that you are not able to get metrics when querying the endpoint. Can you perhaps try with a pod resource instead?
[code]
Also, in the first query you shared, you made a typo and used `service` instead of `services`, ca

[2020-12-15 16:58] thotz commented on #351
Thanks for confirming.
I can see the metrics if I use pods
[code]
for the `services` as I got a similar error

[code]

[2020-12-15 17:21] dgrisonnet commented on #351
Does your prometheus-adapter cluster role has the RBAC permissions to `list`, `get`, and `watch` services?

[2020-12-15 17:38] dgrisonnet commented on #350
Hello @Chetan496,

I'd suggest you to run prometheus-adapter in the same namespace as prometheus, but this is a not a requirement, you can put them in separate namespaces.

If you really want to use Helm to deploy the prometheus-adapter, it might be best to ask this question to the maintainers of the chart on their repository. None of the maintainers of this project are using Helm so they won't be

[2020-12-15 17:44] MrD2 opened #353 "Extend top to show GPU statistics"
Hello,

Using the helm chart is it possible to extend the top command to show gpu statistics?
I'm trying to show GPU usage and memory by deactivating metrics-server and exposing the respective data with the rules.resource, but i am having 2 errors:

1st one is that the kubectl top nodes shows no data

2nd one, i am not able to add other top metrics (that i would like to be able to show using top c

[2020-12-15 17:47] thotz commented on #351
@dgrisonnet: Thanks it worked. Added following to cluster-role binding
[code]
[code]

[2020-12-15 17:48] dgrisonnet commented on #349
Yes these links seems to be the correct ones, although I'm not sure why these scripts were removed in the first place. @s-urbaniak   do you have any idea?

[2020-12-16 08:18] s-urbaniak commented on #349
hmm, i do not recall, this potentially predates when i took over the project :thinking:

[2020-12-16 18:19] bduffany opened #355 "Request: example prometheus k8s configs"
Any chance of sharing example k8s configs for Prometheus?

I'm running into an issue that our prometheus series that we want to use for custom metrics don't seem to have the "namespace" / "pod" labels which are assumed by the examples / walkthroughs, and not sure what we need to change about our prometheus setup in order to get those labels working correctly. (They do have "instance" and "job" lab

[2020-12-16 18:24] Chetan496 commented on #350
@dgrisonnet thanks for the response.
yes, I went through the walkthrough and I understand few things now.

I see that I will have to install the prometheus-operator first, and my application also has to expose the metrics on /metrics.
Then I can carry on next steps.

Thanks again, I see I need to have few things setup , then I can use prometheus-adpater

[2020-12-17 02:37] bduffany commented on #355
Nevermind, I added

[code]

to my prometheus config, and the namespace and pod_name are now appearing in metric labels.

[2020-12-17 02:37] #355 closed

[2020-12-23 00:04] fractos commented on #331
Hi, still seeing this in v0.8.2:

[code]

[2020-12-27 23:29] WyriHaximus commented on #234
@salleaffaire How did you solve this? Running into the same issue

[2020-12-30 17:52] hyche commented on #342
Hi @dgrisonnet,

I ran into same problem with wildcard path.

[code]
For this it only returns one 1 item of `metric-name`, I think it should return all items from all instances ? I got the following response
[code]

[2020-12-31 13:39] SparkScratch-P opened #356 "I have something for embedly, Idk how to contact u, so I am typing here"
Whatever it is named, It is an **embed code generator** for scratch projects. U have 2 options.. a compiled Turbowrap embed and a normal scratch embed

See this: https://sparkscratch-p.github.io/AI-HTMLifier/

Source Code: https://turbowarp.org/448141362/editor

Get it on TurboWrap:
https://turbowarp.org/embed.html#448141362
Released on Forkphorus:
https://forkphorus.github.io/app.html?id=44888777

[2020-12-31 13:39] SparkScratch-P commented on #356
If possible, can I join ur organization?

[2021-01-04 19:26] DenysLP opened #357 "[Question]: k8s 1.20.X"
Has anyone tried to install on k8s 1.20.x?

[2021-01-08 18:01] fractos commented on #331
@s-urbaniak Hi, should I open this as a fresh issue?

[2021-01-11 14:52] Alexul opened #358 "[Question] custom timeout value"
Is it possible to increase timeout value? for cases like
`I0111 14:50:48.100744       1 httplog.go:89] "HTTP" verb="GET" URI="/apis/custom.metrics.k8s.io/v1beta1/namespaces/site-assets/pods/%2A/http-pending-requests-count?labelSelector=branch%3Dlibs-releases-GA-local%2Cservice%3Dcom.wixpress.sar-thunderbolt-css" latency="887.682881ms" userAgent="vpa-recommender/v0.0.0 (linux/amd64) kubernetes/$For

[2021-01-11 19:56] Alexul commented on #358
ohh, disregard the timeout. Apparently the root of the issue is very long query to tsdb. Am i building the query model wrong or thats the idea?
`2021-01-11T17:46:04.327Z	warn	VictoriaMetrics/app/vmselect/main.go:393	error in "/api/v1/query?query=avg%28gauge%7Bdc%3D%22ae1%22%2C+gauge%3D%22http-pending-requests-count%22%2Ckubernetes_namespace%3D%22site-assets%22%2Ckubernetes_pod_name%3D~%22sar-thund

[2021-01-12 18:24] dgrisonnet commented on #342
@atownsend247 after having another look at your configuration, it seems to be an HPA misconfiguration. Are you perhaps trying to autoscale your logstash-kubernetes pods based on the `logstash_node_proc_mem_load_percent_total` metric reported by your logstash-android apps?

[2021-01-12 18:27] dgrisonnet commented on #342
Hey @hyche, no this seems to be normal, I had misunderstood the original issue.

That being said, would you mind opening a separate issue with your HPA and prometheus-adapter configurations?

[2021-01-12 18:55] dgrisonnet commented on #353
Yes, this is intentional as we are reusing code from metrics-server which only support CPU and memory metrics.

Since we don't want to diverge from metrics-server implementation of the resource metrics API, it would be best to start the effort there. @serathius would this be appropriate in metrics-server or is it only meant for CPU and memory?

[2021-01-12 19:00] dgrisonnet commented on #357
Yes, we are using the latest version of prometheus-adapter in OpenShift 4.7 which is based on k8s 1.20.

[2021-01-12 19:05] dgrisonnet commented on #358
The query seems pretty normal, prometheus-adapter intentionally passes the list of pods in the selected namespace. I'd suggest increasing the `maxQueryLen` if possible.

[2021-01-13 13:00] fxposter commented on #324
Hello, I have a similar problem - we have our external metrics work across many namespaces, based only on labels. Is there currently any workarounds that allow to achieve this?

[2021-01-13 21:18] leosunmo commented on #324
I ran in to this exact issue as well, caused _a lot_ of headscratching as to why all of my HPAs suddenly stopped working when I upgraded from 0.5.0 to 0.6.0. Since https://github.com/DirectXMan12/k8s-prometheus-adapter/pull/197 was listed as a BUGFIX in the changelog I didn't pay attention, and didn't realise I was relying on a bug for all of my production scaling >.< .

This is a critical feature

[2021-01-14 13:24] dgrisonnet commented on #324
Hello @fxposter, unfortunately there is no workaround for this. The only way to allow external metrics to work across different namespaces would be to implement the feature mentioned above.

[2021-01-15 12:10] serathius commented on #353
Metrics Server was designed directly for serving Core Metrics API; minimal set of metrics needed for autoscaling. I'm currently still on this stand that core metrics should be small well defined set. We may consider expanding current list, but I don't it should be motivated by improving `kubect top` as it's not the main consumer of Core Metrics; HPA/Controller Manager is.

Changing Metrics Server

[2021-01-16 13:56] serathius commented on #353
Implemented POC using prometheus-adapter, used `kubelet_container_log_filesystem_used_bytes`, but it should work for any metric that is configured in adapter as custom metric.

Results:
[code]

Code https://github.com/kubernetes/kubernetes/pull/98114

[2021-01-18 03:31] muqp opened #360 "Why the result of rate is different with prometheus?"
I want to get the rate of pod's receive bytes.The metricsquery is rate(<<.Series>>[5m]).But the result is different with prometheus.The query is rate(container_network_receive_bytes_total[5m]).There is config of primetheus adapter:

…
- seriesQuery: '{__name__=~"^container_network_receive_.*",container_name="POD",namespace!="",pod_name!=""}'
  seriesFilters: []
  resources:
    overrides:
      na

[2021-01-18 03:37] muqp commented on #360
The result is
![image](https://user-images.githubusercontent.com/52477868/104869587-60864e80-5981-11eb-8c4d-8da56ce99349.png)
What the meaning of 'm'?

[2021-01-18 09:31] dgrisonnet commented on #360
The prometheus-adapter API uses quantities with SI system to represent metrics value instead of decimal points as in Prometheus which is why you are noticing a difference here. The `m ` suffix stands for milli-unit. You can find more information about it in the doc: https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/master/docs/walkthrough.md#quantity-values

[2021-01-20 11:40] muqp commented on #360
I know.I found the result of irate is same with prometheus.

[2021-01-21 10:53] fractos opened #361 "API Server panic on GET /apis/custom.metrics/k8s.io/v1beta1"
Hi, this is essentially the same issue as in #331 but that issue was closed because it should have been fixed by #335. However, that doesn't appear to be the case and I am still seeing this issue in v0.8.2:

[code]

[2021-01-21 11:21] dgrisonnet commented on #361
Hi @fractos, this sounds like #292, which should be fixed by #352. However, this PR is not part of any release yet, we might need to cut v0.8.3 to include this bugfix.

[2021-01-21 11:23] dgrisonnet commented on #292
@s-urbaniak If I remember correctly, this should have been fixed by #352. Considering that a lot of users are impacted by this bug, it might be worth cutting v0.8.3 to include the fix.

[2021-01-26 01:30] justinrush opened #363 "custom label / flattening out vectors question"
I have an application that exposes the normal kubernetes_namespace and kubernetes_pod_name labels as well as a subject_name label in a gauge. I'd like to create HPA resources based on the sum of values for a specific subject_name. I'm new to looking at HPA and just set up the adapter. I'm using the community helm chart to deply it - this is what my rules looks like:
[code]

A query against the raw

[2021-01-26 07:15] pytimer commented on #292
I use the latest code in the k8s v1.17.2, it still have error.

[code]

[2021-01-26 08:29] s-urbaniak commented on #292
@dgrisonnet agreed, and because we have #362 as well I will cut a new release today :+1:

[2021-01-26 10:16] dgrisonnet commented on #292
@pytimer yes the error is still present. The fix that we were able to find basically only "silent" the panics, but the symptom is still here. So far, it doesn't seem to have an actual impact on how prometheus-adapter run, so it might be something very normal such as a client closing the connection.
Also, it might be worth noting that this error was seen elsewhere in the ecosystem consuming custom-

[2021-01-26 12:34] pytimer commented on #292
I cannot found relevant informantion in the adapter, so i think maybe it related to custom-metrics-apisever.

Use the latest code, panic go away.

[2021-01-26 18:38] dgrisonnet commented on #363
For your particular use case external metrics would be better suited, custom metrics are meant to be tied to Kubernetes resources which means that only the labels you specified in the `resources` part of your config will be matched, the others will be dropped. On the contrary, external metrics are designed to autoscale based on metrics coming from outside of Kubernetes. In your case you want to au

[2021-01-26 18:54] justinrush commented on #363
That makes sense. Is there a good example out there to help me understand how to write the rules for external metrics?

[2021-01-27 05:56] pytimer opened #364 "Custom metric selector invalid label value"
Hi,
I use custom metrics hpa, my application expose `http_server_requests_seconds_count`  metric, and this metric like below:

|Element | Value|
|-- | -- |
|http_server_requests_seconds_count{application="web",endpoint="web-port",instance="192.168.10.112:8080",job="demo",method="POST",namespace="dev",pod="dev-demo-6c45bd669c-w47sj",service="demo-svc",status="200",uri="/v1/login"} | 2 |
|http_serve

[2021-01-27 09:50] dgrisonnet commented on #363
The is a small example in this manifest: https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/master/deploy/manifests/custom-metrics-config-map.yaml#L99-L117. The syntax is very close to custom metrics, so you will not have to change a lot of things.

[2021-01-27 11:30] s-urbaniak commented on #292
Note: we just released v0.8.3 so please try it out if it solves the issue, closing out for the time being :-)

[2021-01-27 11:30] #292 closed

[2021-01-30 17:15] carsonoid commented on #323
/remove-lifecycle stale

I'll go ahead and create a PR with the proposed change.

[2021-02-01 00:28] lawliet89 commented on #282
Bump

[2021-02-01 00:29] lawliet89 commented on #282
/remove-lifecycle stale

[2021-02-01 01:17] #237 closed

[2021-02-01 09:25] #224 closed

[2021-02-01 09:39] itskingori commented on #39
This was moved from [github.com/DirectXMan12/k8s-prometheus-adapter](https://github.com/DirectXMan12/k8s-prometheus-adapter) to [github.com/kubernetes-sigs/prometheus-adapter](https://github.com/kubernetes-sigs/prometheus-adapter) is I guess this is now outdated.

[2021-02-01 09:39] #39 closed

[2021-02-01 09:43] #43 closed

[2021-02-01 14:50] dgrisonnet commented on #364
Hi @pytimer,

A possible workaround would be to use external metrics and put your label selector directly inside of the `seriesQuery` of your prometheus-adapter configuration. Given your hpa configuration you would have something like that:
[code]
Note that moving to external metrics is required for this workaround as the labelSelectors given in the seriesQuery are currently filtered for custom me

[2021-02-01 18:35] diclophis commented on #285
@ChristopherLenz our teams use-case is very similar to yours ... I would be interested in hearing about any solutions you came up with!

[2021-02-01 21:21] ptemmer commented on #292
Running v0.8.3 and I bumped into this issue too

[code]

[2021-02-02 01:16] pytimer commented on #364
Thanks @dgrisonnet . But if i setting `seriesQuery` of parometheus-adapter configuration, i need to write multiple rules according to `uri`. I see the external metrics only support standard kubernetes label selector, not support `/v1/task`.

In my case, the application output many metrics with `uri` label, if setting `seriesQuery` rules, it is difficult for developers.

[2021-02-02 07:49] ChristopherLenz commented on #285
I'm afraid not. We asked the team which hosts the kubernetes to provide this as a cluster-wide service. No real solution for the problem/need itself.

[2021-02-02 08:55] cuisongliu opened #365 "external.metrics.k8s.io api is FailedDiscoveryCheck"
k8s version :

[code]

[code]

k8s version is too lower ?

[2021-02-02 10:58] dgrisonnet commented on #365
I don't think that's the problem here, prometheus-adapter should work correctly in Kubernetes 1.16.

The error message seems to indicate that prometheus-adapter returned 404 NotFound when querying the external metrics endpoint, which happens whenever prometheus-adapter couldn't get any metrics. Could you please verify that you have at least one external metrics rule defined in your prometheus-adap

[2021-02-02 14:34] yanc0 commented on #365
Thanks, It worked !

I added a dummy external rules in my adapter config and now API is discovered !

[2021-02-02 22:48] diclophis commented on #285
@ChristopherLenz thanks for the reply, yea its a bit of a bummer ... though after digging in I can see why it would be problematic to support multiple registrations of the custom apiserver endpoint ...

[2021-02-03 01:23] cuisongliu commented on #365
yes, I not add the external metrics rule to my prometheus-adapter configuration .thanks

[2021-02-03 01:23] #365 closed

[2021-02-04 09:34] nunzmatt-vipera opened #366 "issue with adapter and metric pushed via pushgateway: custom metric stays at 0"
hello,

I'm testing a configuration where I'm trying to send custom metrics both with pull and push modes.

for the pull mode I'm using the image found in the adapter walkthrough: [here](https://github.com/luxas/kubeadm-workshop/tree/master/images/autoscaling), wrapped in this [gist](https://gist.github.com/nunzmatt-vipera/5cbf2c5be0084bc4ce4327fd3774f727)
For the push mode I'm using the following

[2021-02-04 19:48] nunzmatt-vipera commented on #366
My fault: the default prometheus-adapter chart configMap seems to compute deltas between values rather than republish pure values, therefore being my example pushing a constant value, the output was a constant 0. by generating random numbers everything has started making more sense.

[2021-02-04 19:48] #366 closed

[2021-02-05 06:46] UrmsOne opened #367 "How to deploy multiple Prometheus-adapters in the same k8s cluster？"
Hi. I would like to ask whether it is supported to deploy multiple Prometheus-adapters in the same cluster.

In my cluster, the knative has defined an apiservice named `custom.metrics.k8s.io/v1beta1` for HPA.
[code]

I realized GPU metrics collection through prometheus-exporter, and now I want to deploy a Prometheus-adapter to achieve HPA

for GPU idle rate.  How should I deal with related applica

[2021-02-07 03:22] westfly commented on #150
check promethus scrape rule ,make sure kubernetes_pod_name （or other name exported_service |exported_namespace ）exsit
[code]

[2021-02-07 16:28] KhvalIvanl opened #368 "Can't populate Resource metrics via Prometheus Adapter"
Trying to get rid of metrics server to serve both custom and resource metrics by Prometheus Adapter only.

I am using a Prometheus Adapter config map with ResourceRules from this [example](https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/deploy/manifests/custom-metrics-config-map.yaml#L73-L98) and registered a new APIService for metrics.k8s.io endpoint. Once I try to test it via `

[2021-02-08 15:29] dgrisonnet opened #369 "Prometheus-adapter isn't serving OpenAPI spec for resource metrics"
When running prometheus-adapter v0.8.3 and trying to run `kubectl explain`  on PodMetrics and NodeMetrics, the commands fail with an error message saying that the resource couldn't be found.
[code]
I would have expected to get the OpenAPI spec for the queried resource. For instance, trying to do the same with metrics-server v0.4.1 gives us the expected result.
[code]

[2021-02-08 16:59] dgrisonnet commented on #367
If you want to use the custom metrics API, you can only do so via the `custom.metrics.k8s.io` aggregated API, you cannot extend it in any way. Also, you can only bind one aggregator per apiservice, which means that if you are using one prometheus-adapter instance that serve this endpoint, no other instance will be able to serve it. So to answer your original question, it is not possible to deploy

[2021-02-08 17:14] dgrisonnet commented on #368
Could you perhaps check if the `container_cpu_usage_seconds_total` and `container_memory_working_set_bytes` metrics are reported for these containers in your Prometheus instance? If not, that would mean that your Prometheus instance doesn't scrape the metrics coming from kubelet.

[2021-02-08 18:19] KhvalIvanl commented on #368
Oh, yes, you are right - I have fixed my ServiceMonitor and the issue is gone.

But now I have another problem: data returned by kubelet is not consistent and sometimes resource metrics from various pods are not fetched:
[code]
On the next request the list of failed pods could be different. Or all of them could be successful.

[2021-02-08 19:33] dgrisonnet commented on #368
It might be because in the example the `pod_name` label is matched to the pod resource. However, since Kurbernetes 1.16 the `pod_name` label was renamed to `pod`: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#removed-metrics

Hence if you are using a newer version of Kubernetes, you should update the example and change to `pod` here: https://github.com/kubernetes

[2021-02-09 02:51] pytimer commented on #364
If the HPA support metrics labels, it maybe involve in multiple repository, such as [custom-metrics-apiserver](https://github.com/kubernetes-sigs/custom-metrics-apiserver), [metrics](https://github.com/kubernetes/metrics), and also need to consider how to be compatible with existing interface.

[2021-02-09 08:11] s-urbaniak commented on #364
Another method that comes into my mind is relabeling during ingestion: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config

You could write a regex that replaces `/` with `-` making the selector happy.

However, a word of warning regarding using uris as label _values_. It very often can be a cause of cardinality explosion, especially if the amount of know URIs

[2021-02-10 08:33] KhvalIvanl commented on #368
@dgrisonnet got it! Thank you for your help :).

[2021-02-10 08:33] #368 closed

[2021-02-11 23:22] anshupande commented on #221
if anyone here has any experience of filtering k8s-prometheus-adapter metrics.
```kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1"```
has a lot of metics in the adapter that is not required.
Is there a way to blacklist based on say namespaces example if we can blacklist kube-system NS metrics or filtering based on some other criterion?

[2021-02-13 04:36] patpatpat123 opened #370 "F0213 04:07:58.686760 1 adapter.go:304] unable to run custom metrics adapter: error creating self-signed certificates: mkdir apiserver.local.config: permission denied"
Hello Prometheus Adapter Team,

First of all, a big thank you for this very cool project.
I am just facing a small issue, hence reporting it, hope not to trouble.

On container startup, I am facing an error loop, where I believe the root cause might be:

[code]

When I create the adapter, I am doing it via this way:

[code]

In order to make the flow work, the prometheus who is exposing the metric

[2021-02-14 14:45] pytimer commented on #364
Thanks @s-urbaniak . I know use the uri on the potential effects on prometheus, i replaces `/` with `-` to solve this problem.

But i think prometheus-adapter is best to support any format label value instead of k8s standard label. It maybe a bit wrong to propose this feature here.

[2021-02-16 21:45] justinrush commented on #363
Thanks, sorry for the late response. This is what i ended up with:

[code]

This query: ` kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1/namespaces/test/subject_message_count?labelSelector=subject_name%3Ddefault" |jq`

Produces this output (which i can then use in HPAs):
[code]

[2021-02-16 21:45] #363 closed

[2021-02-18 12:52] fractos commented on #361
Hi @dgrisonnet, I've tried this with v0.8.3 on k8s 1.15 and the panic is no longer there. However, it is still not responding in a way that is letting the custom metrics work.

i.e.

[code]

and shows this in the prometheus-adapter logs:

[2021-02-19 07:06] amirkhonov commented on #268
/remove-lifecycle stale

[2021-02-19 16:55] omarsumadi commented on #134
Hey all - had this problem today.

This is NOT a problem with Prometheus Adapter - as stated above, it is a problem with Google Kubernetes Engine (well, not a problem, just a feature for Cluster Security).

Here's a solution other than tinkering with the helm chart:
gcloud compute firewall-rules create allow-prometheus-adapter \
    --action ALLOW \
    --direction INGRESS \
    --source-ranges 17

[2021-02-21 08:06] iAmMrinal0 commented on #195
Did you get it working @agolomoodysaada? I have the same exact use case as you described and am not sure how to go about it.

[2021-02-21 08:31] AshMenhennett commented on #195
@iAmMrinal0 have a look at this thread https://github.com/kubernetes-sigs/prometheus-adapter/pull/252#discussion_r369568355

The suggested way forward was to use Prometheus recording rules to ensure the metrics are also written with a label for the other namespace. I haven't validated this - keen to see how this looks.

[2021-02-21 08:39] iAmMrinal0 commented on #195
Thanks. I'll try this out if that's the suggested way and write something out if it all works out.

[2021-02-22 08:56] paulfantom opened #371 "New release?"
It would be good to have a new release of the project after it was migrated to kubernetes org. This would solve issues reported by golang when trying to import, like this one:
[code]

I am aware this can be worked around by using `replace` in go.mod, but this is only a workaround.

[2021-02-22 12:57] MartinForReal opened #373 "support different kinds of resource in resourceRule"
I think it would be great if we could support all kinds of pod resources. such as gpu, sriov and etc.

e.g.

[code]

[2021-02-22 14:09] dgrisonnet commented on #371
Agreed, we should do a release once we migrate all the imports from `github.com/directxman12/k8s-prometheus-adapter` to `github.com/kubernetes-sigs/prometheus-adapter`.

/help

[2021-02-22 15:08] dgrisonnet commented on #370
Hello @patpatpat123, thank you for the kind words!

These certs are meant for communication with the apiserver, not Prometheus.
In your case, it seems that you are not allowed to create files in the default directory used by the adapter. You can change that via the `--cert-dir` option. For example, you could set it to `/var/run/serving-cert` as we are doing in kube-prometheus or to `/tmp` if you a

[2021-02-22 15:13] dgrisonnet commented on #361
Hmm, it seems that prometheus-adapter isn't attached to the custom metrics aggregated API. On top of my head, the reasons could be either that the apiservice doesn't exist or that you didn't defined any custom metrics rules in your prometheus-adapter configuration.

Could you perhaps share the output of the following command: `kubectl get apiservices`

[2021-02-22 15:25] dgrisonnet commented on #373
You might interested in this ongoing effort to extends `kubectl top`: https://github.com/kubernetes-sigs/prometheus-adapter/issues/353.

However, if you only want to have HPAs based on these metrics, you can already have this via the custom-metrics API.

[2021-02-22 15:35] orong-pp opened #375 "HPA metrics using join with kube_deployment_labels"
I'm using prometheus-adapter to configure HPA for my deployment with metrics from rabbitmq-exporter
I am trying to follow this guide:
https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/config.md
and I came up with this configuration
[code]
and then when I run:
[code]
I get Error from server (InternalError): `Internal error occurred: unable to list matching resources`

the issue

[2021-02-22 16:03] fractos commented on #361
@dgrisonnet Ok I'll take you through it.

We are installing Helm v3 and setting it up with the prometheus-community repos like so:
[code]

where `application/prometheus/prometheus-config.yaml` is:
[code]

Then adding the prometheus-adapter with:
[code]

where `application/prometheus/prometheus-adapater.yaml` is:
[code]
(plus some similar other rules)

Output from `kubectl get apiservices` is:
[cod

[2021-02-22 16:14] dgrisonnet commented on #375
External metrics seems to be a better fit for you use case, because as you mentioned, queues are not directly tied to a Kubernetes resources. We have an example that you might be able to customize to match your use case here: https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/deploy/manifests/custom-metrics-config-map.yaml#L99-L117.
Then, in order to select the queue you want to aut

[2021-02-22 16:22] dgrisonnet commented on #361
Thank you providing all these information :). As I suspected it seems that the custom-metrics apiservices aren't created. For custom-metrics to be served properly, you should be able to see the following via `kubectl get apiservices`:
[code]
I don't know where the helm community is hosting the manifests, but you can always use the one we provide here:
https://github.com/kubernetes-sigs/prometheus-

[2021-02-22 16:23] fractos commented on #361
@dgrisonnet Thanks very much, I'll try that.

[2021-02-23 04:47] dinhnhobao commented on #129
/remove-lifecycle stale

[2021-02-23 04:47] dinhnhobao commented on #129
I got the same issue.

`I0223 04:46:36.353569       1 adapter.go:98] successfully using in-cluster auth
F0223 04:46:36.353656       1 adapter.go:272] unable to load metrics discovery config: no metrics discovery configuration file specified (make sure to use --config)
goroutine 1 [running]:
github.com/directxman12/k8s-prometheus-adapter/vendor/k8s.io/klog/v2.stacks(0xc00012a001, 0xc000686000, 0xa5

[2021-02-23 05:19] dinhnhobao commented on #66
Yes, this solves the issue. Thank you so much!!!!

[2021-02-23 09:51] UrmsOne commented on #367
@dgrisonnet Thanks for your reply.

My scenario is that two components use the same apiservice. One is the knative application deployed by kubeflow, and the other is Prometheus-adapter.

The knative application already exists in my cluster, which is occupies `custom.metrics.k8s.io` to achieve HPA. Now I want to deploy a Prometheus-adapter to collect GPU metrics and implement HPA through the GPU me

[2021-02-23 16:59] orong-pp commented on #375
thanks! @dgrisonnet that really helped me

[2021-02-23 16:59] #375 closed

[2021-02-24 10:59] xianglujun opened #376 "why i request rest-api, returned requeslt for item value has 'm' unit!!"
hello, i am using prometheus-adapter for customed metrics, but when i combine multi metric in metricQuery, i alway get returned result for item vlaue that always has 'm' unit. my configuration is followed:
`seriesQuery: '{__name__=~"^container_.*",namespace!="",pod_name!="",container=""}'
      seriesFilters: []
      resources:
        overrides:
          namespace:
            resource: namespa

[2021-02-25 22:22] patricio-dorantes commented on #292
Replicated the error with nginx proxy_pass with extra (upgrade) headers. Fixed it with a custom location /apis/custom.metrics.k8s.io/ w/o the headers.

[2021-03-01 09:26] s-urbaniak commented on #183
we can close this out as external metrics are implemented.

[2021-03-01 09:26] #183 closed

[2021-03-04 12:49] TheKangaroo opened #378 "[walkthrough] ServiceMonitor does not work"
I followed the [walkthrough](https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/walkthrough.md), but the service monitor port name does not match the port name of the actual service created with:
[code]
The service monitor matches with a port named http, but for me, the command above created a port name "80-8080" instead of "http".
I'm not sure if this is something that changed

[2021-03-05 06:10] #273 closed

[2021-03-06 02:00] fractos commented on #361
@dgrisonnet Hi, thanks for the help earlier. I've managed to get the custom metrics apiservices available now (using metrics-server 0.3.7) and I can see from the prometheus-adapter logs that it is accepting queries about the custom metrics, but it is responding with a 404. I know it's off-topic, but here's what I'm installing; any ideas why it can't find the custom metrics?

[code]

Where `./prome

[2021-03-10 16:01] #378 closed

[2021-03-10 20:53] judexzhu commented on #186
/close

[2021-03-10 20:53] #186 closed

[2021-03-10 22:24] TBSnapLogic opened #383 "HPA NOT scale up on Custom Metrics after updating targetValue"
I have an AWS EKS cluster, and I have set up the Prometheus and the Prometheus-Adapter.
The thing is, I have tried different values for my HPA metrics **target value** (the threshold one), in some cases, I can see the scale-up works, but the other fails.

Provided my HPA:
[code]
When I set the target value to **2** in this case, I can see my HPA works perfectly ✅ , here is the logs:
You can see wh

[2021-03-16 14:43] dgrisonnet commented on #349
/remove-lifecycle stale

[2021-03-16 15:53] dgrisonnet commented on #349
/help

[2021-03-17 12:42] dgrisonnet commented on #350
/close

[2021-03-17 12:42] #350 closed

[2021-03-17 13:36] dgrisonnet commented on #267
/close

[2021-03-17 13:36] #267 closed

[2021-03-18 11:12] dgrisonnet commented on #315
/close

[2021-03-18 11:12] #315 closed

[2021-03-19 15:29] dgrisonnet commented on #337
/close

[2021-03-19 15:29] #337 closed

[2021-03-22 23:30] arcivanov opened #385 "Resource Metrics broken due to "instance"/"node" label confusion"
K8S 1.18.16
PA 0.8.3
AWS

Kubelet publishes metrics that have `instance` as  IP address and `node` as node name.
![image](https://user-images.githubusercontent.com/5355666/112066310-7dcfc880-8b3c-11eb-8bfb-cfc6710e4302.png)

The resource rules are standard queries with standard overrides.
As you can see from the debug logs the "instance" doesn't remap the label matchers and thus there are no resul

[2021-03-23 17:47] arcivanov commented on #385
The fix for this is to change 'instance' to "node" in the overrides, as follows:

[code]

Maybe this is an example/documentation issue?

[2021-03-23 18:08] dgrisonnet commented on #289
Now that https://github.com/kubernetes-sigs/prometheus-adapter/pull/386 was merged, we can close this issue.

/close

[2021-03-23 18:08] #289 closed

[2021-03-24 15:21] #268 closed

[2021-03-24 15:21] matandomuertos commented on #268
Thanks @TamasSzigeti
https://github.com/prometheus-community/helm-charts/pull/375 fixes this issue.

[2021-03-24 19:54] arcivanov opened #388 "Node resource metrics are randomly partially unavailable"
After fixing #385 I've discovered that for some nodes resource metrics appear and disappear sporadically.
It's never the same nodes from request to request. And the request

Observe:

[code]
[code]

[2021-03-25 08:35] cmartinez85 commented on #388
Did you find something? I have the same issue

[2021-03-25 18:25] arcivanov commented on #388
Nope, giving up on PA for RM, moving back to metrics server.

[2021-03-25 18:44] TBSnapLogic commented on #383
Any update?

[2021-03-26 16:30] lackhoa commented on #292
@s-urbaniak Can you re-open this issue? It's still in `v0.8.3`.

[2021-03-26 17:03] cmartinez85 commented on #388
Just to inform what I did that seems to be fixed my problem with top nodes/pods, I've increased the resource metric interval from 1 to 5 minutes.

[code]

[2021-03-26 20:00] arcivanov commented on #388
Granularity of kubelet is 15s. I can't wait for 5 min for things to change, the cluster may get overloaded.

[2021-03-29 15:40] fredr commented on #376
The `m`-suffix means milli, Quantity Values are explained here: https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/walkthrough.md#quantity-values

[2021-03-30 05:45] xianglujun commented on #376
thanks!

[2021-03-30 05:45] #376 closed

[2021-03-31 04:55] usrlocalang opened #390 "series_registry.go:156] metric pods/CUSTOM_METRIC (namespaced) not registered"
K8's version 1.18

  name: prometheus-adapter
  version: 2.3.1

[code]
Custom Metric defined..

Executing a `kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1"` does not show me the custom metric.

The HPA throws this error.
![image](https://user-images.githubusercontent.com/67487986/113092058-e65d1c00-91b2-11eb-9f9c-96776abb9ad1.png)

Logs for the Adapter.
[code]

[2021-03-31 08:02] #31 closed

[2021-03-31 08:02] #42 closed

[2021-03-31 08:02] #58 closed

[2021-03-31 08:02] #36 closed

[2021-03-31 08:02] #81 closed

[2021-03-31 08:02] #85 closed

[2021-03-31 08:02] #88 closed

[2021-03-31 09:03] #112 closed

[2021-03-31 09:03] #117 closed

[2021-03-31 09:03] #138 closed

[2021-03-31 10:04] #119 closed

[2021-03-31 10:04] #149 closed

[2021-03-31 10:04] #131 closed

[2021-03-31 10:04] #163 closed

[2021-03-31 10:04] #173 closed

[2021-03-31 10:04] #184 closed

[2021-03-31 11:05] #199 closed

[2021-03-31 11:05] #210 closed

[2021-03-31 12:06] #145 closed

[2021-03-31 12:06] #209 closed

[2021-03-31 12:06] #215 closed

[2021-03-31 12:06] #225 closed

[2021-03-31 12:06] #229 closed

[2021-03-31 12:06] #238 closed

[2021-03-31 13:07] #239 closed

[2021-03-31 13:07] #246 closed

[2021-03-31 13:07] #250 closed

[2021-03-31 13:07] #253 closed

[2021-03-31 13:07] #259 closed

[2021-03-31 14:08] dgrisonnet commented on #371
I just cut release `v0.8.4` which includes the imports migration.

[2021-03-31 14:08] #371 closed

[2021-03-31 14:10] #272 closed

[2021-03-31 14:10] #271 closed

[2021-03-31 14:10] #264 closed

[2021-03-31 14:10] #275 closed

[2021-03-31 14:10] #277 closed

[2021-03-31 15:14] #242 closed

[2021-03-31 15:14] #288 closed

[2021-03-31 15:14] #176 closed

[2021-03-31 15:19] #235 closed

[2021-03-31 15:20] #116 closed

[2021-03-31 16:10] #219 closed

[2021-03-31 16:10] #104 closed

[2021-03-31 16:10] #299 closed

[2021-03-31 16:11] #205 closed

[2021-03-31 16:16] #232 closed

[2021-03-31 16:16] #294 closed

[2021-03-31 16:17] #228 closed

[2021-03-31 16:48] fredr commented on #107
/reopen
/remove-lifecycle rotten

[2021-03-31 16:49] fredr commented on #107
I think this is still a very interesting feature, and since noone seemed to be against it three years ago, I would like to reinitiate the discussion.
Having custom and external metrics via a CRD would make it a lot easier to understand where what metrics are available where.

Three years later :D what are your oppinions on this issue now?

[2021-03-31 17:11] #306 closed

[2021-03-31 17:11] #310 closed

[2021-03-31 17:11] #283 closed

[2021-03-31 17:11] #311 closed

[2021-03-31 17:11] #227 closed

[2021-03-31 17:11] #312 closed

[2021-03-31 17:11] #313 closed

[2021-03-31 17:11] #281 closed

[2021-03-31 17:11] #320 closed

[2021-03-31 17:11] #322 closed

[2021-03-31 17:26] yogeek commented on #292
@s-urbaniak We also have the same issue in `v0.8.3` on K8S 1.19, would be nice to reopen

[2021-03-31 18:11] #301 closed

[2021-03-31 18:11] #298 closed

[2021-04-01 03:00] #356 closed

[2021-04-01 10:27] #327 closed

[2021-04-01 11:31] milosgajdos commented on #390
Note, I'm not a maintainer and I never looked into this complex codebase but I suspect `django_http_requests_total_by_view_transport_method{namespace!="",pod!="",view!~"^(flcmd|prometheus).*"}` might be failing to be discovered by the adapter.

Obviously, I presume when you type `django_http_requests_total_by_view_transport_method{namespace!="",pod!="",view!~"^(flcmd|prometheus).*"}` into your pro

[2021-04-01 11:39] milosgajdos commented on #383
Note, I'm not a maintainer, but I feel this might be a question for HPA developers, not for the prometheus adapter devs.

Besides, [the official docs](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) are saying this:

So maybe you want to have a look at what value your `--horizontal-pod-autoscaler-tolerance` is set to.

[2021-04-01 11:55] milosgajdos commented on #385
I'm not sure this is a documentation issue, but maybe I'm wrong.

Your prometheus metric `instance` label contains an IP address and you are telling PA to use that IP address as a K8s Node resource value. That's clearly wrong. K8s node resource values are what your `node` prometheus label contains as a value -- they're not IP addresses.

PA `overrides` section lets you map Prometheus metrics label

[2021-04-01 21:37] #305 closed

[2021-04-02 02:21] arcivanov commented on #385
@milosgajdos this is taken directly from manifests in `deploy`. So it's rather a default configuration bug then.

https://github.com/kubernetes-sigs/prometheus-adapter/blob/b67ac3e747070887f06751ed6cfb4892d4ea08af/deploy/manifests/custom-metrics-config-map.yaml#L78-L84

https://github.com/kubernetes-sigs/prometheus-adapter/blob/b67ac3e747070887f06751ed6cfb4892d4ea08af/deploy/manifests/custom-metri

[2021-04-02 02:34] usrlocalang commented on #390
@milosgajdos  Thank you. Will definitely try this.

[2021-04-02 09:49] #332 closed

[2021-04-02 23:02] #325 closed

[2021-04-04 00:27] #285 closed

[2021-04-04 01:49] andrewpollack commented on #349
/assign @andrewpollack

[2021-04-06 22:42] oussama-mechlaoui opened #392 "custom metrics rule with cloudwatch prometheus exporter"
I want to use cloudwatch prometheus metrics as custom metrics. I have defined the custom rule as follows:

    - metricsQuery: 'rate(<<.Series>>{<<.LabelMatchers>>}[5m]) by (<<.GroupBy>>)'
      name:
        as: '{1}_per_second'
        matches: '^(.*)_sum'
      resources:
        overrides:
          namespace:
            resource: 'namespace'
      seriesQuery: 'aws_applicationelb_request_cou

[2021-04-07 07:35] #251 closed

[2021-04-08 05:03] #150 closed

[2021-04-08 22:20] #137 closed

[2021-04-10 10:55] #45 closed

[2021-04-12 15:50] oussama-mechlaoui commented on #392
I have tried the following:

- metricsQuery: '{namespace!="",__name__=~"^aws_applicationelb_request_.*",load_balancer="app/k8s-eksmonitoring-1bb56c3370/16ae9f70d2e5fad4"}'
  name:
    as: ''
    matches: '^aws_(.*)_sum$'
  resources:
    overrides:
      namespace:
        resource: 'namespace'
      pod:
        resource: 'pod'
  seriesQuery: '{namespace!="",__name__=~"^aws_applicationelb_request

[2021-04-14 23:16] leosunmo commented on #324
/remove-lifecycle stale

[2021-04-15 20:24] #255 closed

[2021-04-16 19:06] serathius commented on #353
/remove-lifecycle stale

[2021-04-16 23:18] leviathanbadger commented on #324
It seems to me that "external metrics" should be `namespaced: false` by default. The metrics are coming from outside of the kubernetes cluster; therefore they are not in a kubernetes namespace, by definition. I understand the external metrics spec requires a namespace; but it also indicates the adapter can choose to return the same metrics in multiple namespaces: https://github.com/kubernetes/comm

[2021-04-17 20:17] andrewpollack commented on #349
PR Merged. Issue can be closed

[2021-04-18 08:43] #338 closed

[2021-04-19 00:48] #221 closed

[2021-04-21 09:14] #349 closed

[2021-04-21 16:46] outinspace commented on #361
I am also seeing this issue:
![image](https://user-images.githubusercontent.com/865352/115590197-52084580-a296-11eb-87c2-5c1dabbbf4dc.png)

ApiServices:
![image](https://user-images.githubusercontent.com/865352/115590786-fb4f3b80-a296-11eb-90d5-778fb9cfcce3.png)

![image](https://user-images.githubusercontent.com/865352/115590870-14f08300-a297-11eb-8ead-f54c43f44820.png)

![image](https://user-ima

[2021-04-21 16:57] outinspace commented on #292
I am seeing this issue in prometheus adapter v0.8.4 with Kubernetes API server 1.20.

[2021-04-22 08:40] #342 closed

[2021-04-22 08:41] #360 closed

[2021-04-22 09:19] #195 closed

[2021-04-22 12:18] s-urbaniak commented on #324
I think @leviathanbadger you have a good point indeed :thinking: having said that my intuition is that we should leave the choice to the user whether external metrics are supposed to be namespaced or not. Hence, my suggestion would be, instead of having this set implicitely, we could have the `namespaced` setting be an explicit setting declaring whether the given resource metric is supposed to be

[2021-04-23 20:31] #340 closed

[2021-04-28 16:23] JulesBelveze opened #393 "Prometheus adapter empty custom metric items"
EDIT:
Hi there,
I am trying to perform HPA based on Prometheus metrics and to aggregate the metrics at a node-pool level.
To do so, I've added the following to my Prometheus adapter:
[code]
I can see that the metric is available however, the `items` list is empty:
[code]

Any idea why this happens?

[2021-04-29 15:09] ryan-dyer-sp opened #394 "+Inf metrics being converted to 0"
First off I'm running an old version:  directxman12/k8s-prometheus-adapter-amd64:v0.5.0
unfortunately there's an infrastructure issue we're waiting to be resolved (sometime hopefully next week) which prevents update.

We use the kafka-lag-exporter (https://github.com/lightbend/kafka-lag-exporter) which for one of their metrics typically is a number but can on occassion become '+Inf'.  The adapter

[2021-05-03 07:44] thotz commented on #351
@s-urbaniak @dgrisonnet : May I add back `service` resource to `custom-metrics-resource-reader-cluster-role.yaml`, it was removed as part of https://github.com/kubernetes-sigs/prometheus-adapter/pull/290 for our usecase. I will send the PR if it is okay

[2021-05-04 02:20] lawliet89 commented on #282
/remove-lifecycle stale

[2021-05-05 16:48] dgrisonnet commented on #351
@thotz prometheus-adapter shouldn't need access to the service resource, so I'm not sure why you would need that. Would you mind providing more details?

[2021-05-05 16:54] dgrisonnet commented on #393
Hi @JulesBelveze,

Does your metric has a `pod` label set to actual pod names? Also, can you see anything in the prometheus-adapter logs after querying the custom metrics?

[2021-05-05 17:04] dgrisonnet commented on #394
Hi @ryan-dyer-sp, could you please try to verify that metrics reported by prometheus-adapter are converted to 0? You can do that by following this doc: https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/walkthrough.md#double-checking-your-work.
If the adapter is indeed converting the value and it's not the HPA that does it, we will need to investigate what would be the impact o

[2021-05-07 06:57] thotz commented on #351
Please refer https://github.com/kubernetes-sigs/prometheus-adapter/issues/351#issuecomment-745285221, in our use-case the service is the best option we have

[2021-05-07 13:39] dgrisonnet commented on #351
Ah yes indeed, I forgot about that.

Since your use-case is special, I don't think is it meaningful to have the rbac rule as part of the default configuration as it will most likely not be useful to most of prometheus-adapter users. Thus, I'd suggest customizing the default configuration to better fit your use-case.

That being said, it might be worth mentioning that the default configuration comi

[2021-05-07 13:41] dgrisonnet commented on #357
/close

[2021-05-07 13:41] #357 closed

[2021-05-07 13:41] #358 closed

[2021-05-09 11:12] #347 closed

[2021-05-10 06:42] thotz commented on #351
@dgrisonnet : Just to confirm the complete path for Prometheus adapter configs is this one https://github.com/prometheus-operator/kube-prometheus/tree/main/experimental/metrics-server right

[2021-05-10 08:30] dgrisonnet commented on #351
The default prometheus-adapter configuration is inside of the manifests directory https://github.com/prometheus-operator/kube-prometheus/tree/main/manifests. All files prefixed by `prometheus-adapter` are part of the default configuration.

[2021-05-11 16:39] SkullTech commented on #324
Hi @ryan-dyer-sp

How did you make it work in v0.5.0? Can you share a sample config file of prometheus-adapter?

[2021-05-12 06:49] oldthreefeng opened #396 "request： help for custom metrics with HPA."
#### What happened:

helm chart:  version: 2.3.1.

Use customer metrics but HPA not get it.

deploy use  `helm install --name prometheus-adapter --namespace monitor  stable/prometheus-adapter`

edit with custom metrics.

[code]

and I already to get wanted metrics .

[code]

get my hpa

[code]
I describe hpa

[code]

pods have already to run success.

[code]

#### What you expected to happen:

I w

[2021-05-12 09:02] dgrisonnet commented on #369
/remove-lifecycle stale

[2021-05-12 13:01] dgrisonnet commented on #396
Hi @oldthreefeng, if you want to debug prometheus-adapter, the easiest way is to set the verbosity to `-v=6` then you will be able to see that actual Prometheus query that results from your HPA configuration.

You will see a log line similar to:
[code]
You can then url decode the prometheus query that is inside of the url and execute it inside of the Prometheus UI.

If you can't figure out where t

[2021-05-17 10:06] dgrisonnet commented on #323
/remove-lifecycle stale

[2021-05-18 07:45] swimablefish opened #397 "Can the replica of prometheus-adapter be set more than 1"
Hi, as title, can I increase the replica of prometheus-adapter to provide high availability?

[2021-05-19 15:17] junaid-ali opened #398 "Prometheus adapter pod unable to get node metrics"
**What happened?**
Deployed Prometheus Adapter (`v0.8.4`) via helm chart on EKS (`v1.18.16-eks-7737de`) with 2 replicas.

`1` replica is returning a result for `kubectl top nodes`:
[code]

 but the other replica throws the following error:
[code]
The logs in that replica:
[code]
Manually, running the same query (`api.go` @ `14:08:18.931997` from logs) to prometheus server from inside both replicas

[2021-05-20 08:31] sergdpi commented on #392
Metrics from AWS Cloudwatch in Prometheus have a time lag.
Adapter do not create resource in APIResourceList If Prometheus return null.
Default Helm timestamp value - 1m.

I added ARG --metrics-max-age=15m. This parameter isn't documented anywhere and also the Helm chart doesn't make use of it.
If --metrics-max-age is not explicitly set, set it equal to --metrics-relist-interval. In this case, it

[2021-05-20 16:08] dgrisonnet commented on #397
Yes, you can and I would advise you to do so if you are running in an infrastructure that has more than one node. I've recently contributed making prometheus-adapter configuration highly available in kube-prometheus if you want to have a look at some of the manifests:

https://github.com/prometheus-operator/kube-prometheus/blob/main/manifests/prometheus-adapter-deployment.yaml
https://github.com/p

[2021-05-20 16:18] dgrisonnet commented on #398
Hey @junaid-ali, I noticed that the query your executed inside of the replica was slightly different from the one in the logs, it is missing `&time=1621433298.929` which fixes the  timestamp for which prometheus-adapter gets metrics from Prometheus. Could you try again with it?
Also, if you try executing the query in the Prometheus UI, do you see any gaps in the graph that could induce some scrape

[2021-05-21 01:16] swimablefish commented on #397
Great, thanks

[2021-05-21 01:16] #397 closed

[2021-05-21 10:19] junaid-ali commented on #398
@dgrisonnet I tried with timestamp as well, and that did return the same result. Here's a recent one:

[code]

[code]

At the moment, there's only one replica, and I'm getting the following error in the logs:
[code]

[2021-05-21 10:31] junaid-ali commented on #385
I'm using aggregation to workaround this: https://github.com/kubernetes-sigs/prometheus-adapter/issues/398#issuecomment-845847789

But facing the same issue that you have raised here: https://github.com/kubernetes-sigs/prometheus-adapter/issues/388

[2021-05-24 02:15] MartinForReal commented on #373
Thanks !

[2021-05-24 02:15] #373 closed

[2021-05-25 09:00] junaid-ali commented on #398
@dgrisonnet have you had a chance to look at the previous reply? Also, wanted to confirm the the node names returned by the queries are exactly same to what we get in `kubectl get nodes`

[2021-05-25 09:59] dgrisonnet commented on #367
@UrmsOne you can't do that yet, but this is being investigated in https://github.com/kubernetes-sigs/custom-metrics-apiserver/issues/70.

/remove-lifecycle stale

[2021-05-25 10:17] dgrisonnet commented on #398
I haven't had the chance to really look into this as I would most likely need a reproducer to further investigate this bug.

From the look of it, it seems that Prometheus is sometimes returning an empty response to prometheus-adapter. Do you perhaps also have this issue with pods? You should see the following error in the logs if there is something going wrong for the pods: `unable to fetch metric

[2021-05-25 10:19] dgrisonnet commented on #129
@dinhnhobao would you mind opening a separate issue? This one is quite old and both the adapter and kubernetes have changed a lot since.

[2021-05-25 10:19] #129 closed

[2021-05-25 10:20] #370 closed

[2021-05-25 10:50] junaid-ali commented on #398
@dgrisonnet it's only happening for nodes. Also, it always returns `error: metrics not available yet` for nodes (and not an intermittent issue); on re-creating the Prometheus Adapter pod, the issue goes away.

[2021-05-25 11:36] dgrisonnet commented on #398
Thank you for the clarification, I'll try to reproduce the bug.

[2021-05-25 11:38] #182 closed

[2021-05-25 11:39] #278 closed

[2021-05-25 11:40] dgrisonnet commented on #282
Fixed by #380

[2021-05-25 11:40] #282 closed

[2021-05-25 11:46] dgrisonnet commented on #324
Fixed by #380

[2021-05-25 11:46] #324 closed

[2021-05-25 11:47] #351 closed

[2021-05-25 11:50] dgrisonnet commented on #364
Let's keep track of this issue in #323.

[2021-05-25 11:50] #364 closed

[2021-05-25 12:08] dgrisonnet commented on #385
From the look of it, the issue seems to lies in the nodeQuery that you are using for both CPU and memory. You are right that for this particular query, we should use `node` instead of `instance`. But, generally, I wouldn't recommend using container metrics for node queries. If you are running node-exporter on your nodes, prefer using its metrics. For instance here are the queries that we are using

[2021-05-25 12:28] dgrisonnet commented on #398
@junaid-ali I was able to reproduce this bug with the default configuration from this repository, but it is very outdated so I would recommend using the following one instead: https://github.com/prometheus-operator/kube-prometheus/blob/main/manifests/prometheus-adapter-configMap.yaml.

[2021-05-25 13:14] dgrisonnet commented on #398
For the cpu query, the labelMatchers should match `node` and not instance. As for memory, we have some relabeling in place in kube-prometheus for node-exporter: https://github.com/prometheus-operator/kube-prometheus/blob/main/manifests/node-exporter-serviceMonitor.yaml

I'll try to reproduce with your query, but with the one from kube-prometheus I wasn't able to so far.

[2021-05-26 08:35] dgrisonnet opened #402 "Prometheus-adapter is collecting metrics for completed pods"
Running prometheus-adapter with the resource metrics API configured results in collecting metrics for pods in a completed/succeeded state.

This is an issue that comes from metrics-server, one of prometheus-adapter dependency and it has been recently fixed recently in https://github.com/kubernetes-sigs/metrics-server/pull/651. This change should be part of the next release of metrics-server, v0.5.

[2021-05-27 18:29] neeraj201 opened #403 "Prometheus adapter issue with metrics from external rabbitmq"
I am trying to implement HPA using external metrcis from a rabbitmq cluster hosted on AWS with an EKS cluster(v1.19) using promethues adapter.

Below works as expected
[code]

Below is the query directly to prometheus server which delivers correct data:

[code]

 "prometheus-amqp-metrics" is exporter service  in 'prometheus' namespace

Adapter rule is below:
[code]

But I am not able to get the me

[2021-06-01 10:43] dgrisonnet commented on #403
From what you shared, you are using custom-metrics and not external metrics. For your particular use case, I would advise you to switch to external metrics since your rabbitmq isn't tied to any Kubernetes resource. You will be able to find the external metrics documentation here: https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/externalmetrics.md.

That being said, this would

[2021-06-01 19:37] nsharma-fy commented on #403
Thank you @dgrisonnet for your response. I had looked at using external metrics. Deploying the Prometheus adapter in the default configuration, it does not enable v1beta1.external.metrics.k8s.io . I am following this link [https://github.com/kubernetes-sigs/prometheus-adapter/pull/302/commits/936bda2ef0ca6441980cb3bb5b7462c8175e8a99](url) to install external metrics but getting some issue with it

[2021-06-01 21:17] neeraj201 commented on #403
Thank you @dgrisonnet for your response. I had looked at using external metrics. Deploying the Prometheus adapter in the default configuration, it does not enable v1beta1.external.metrics.k8s.io . I am following this link [](https://github.com/kubernetes-sigs/prometheus-adapter/pull/302/commits/936bda2ef0ca6441980cb3bb5b7462c8175e8a99) to install external metrics but getting some issue with it whi

[2021-06-03 13:45] #402 closed

[2021-06-03 19:15] Zongshun96 opened #409 "Querying Raw Metrics"
## Question
Can anyone help me to query the raw metrics with `MetricsQuery`?  My HPA cannot get the output but I can directly query it through `curl -s 'http://localhost:9090/api/v1/query?query=demo_app_button_clicks_total[2m]' | jq`.

Originally, I wanted to query the data points for the past 2 mins for [this Custom Pod Autoscaler](https://github.com/jthomperoo/custom-pod-autoscaler) to do a more

[2021-06-04 14:18] jonathon2nd commented on #292
At pod restart, there are no errors and pod CPU util is fine, but after a few minutes errors start again and pod starts routinely CPU spiking.
![image](https://user-images.githubusercontent.com/52681917/120815556-8c136b00-c515-11eb-98fb-d3776d697734.png)
![image](https://user-images.githubusercontent.com/52681917/120815597-9897c380-c515-11eb-94e7-59599248fe4a.png)
These spikes are entirely attribu

[2021-06-08 06:01] fpetkovski commented on #409
Hi @Zongshun96, do you have any logs from the prometheus adapter that you can add send?

[2021-06-08 07:04] fpetkovski commented on #383
I see that the target average value is set to 2 in the HPA. Can this be a rounding problem since 8/5 = 1 in integer division? Can you try setting the metric to 12 to see whether that will trigger a scale up to 2 replicas?

[2021-06-16 22:59] junaid-ali commented on #398
@dgrisonnet I did print the [`cpuQuery`](https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/pkg/resourceprovider/provider.go#L88) and [`memQuery`](https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/pkg/resourceprovider/provider.go#L92) to debug this. So when this issue happens e.g with the error `missing CPU info for node ...` in adapter logs, the `cpuQuery` value loo

[2021-06-24 00:34] navathag opened #411 "stdout the logs of prometheus-adapter in json format"
how to stdout the logs of prometheus-adapter in json format

[2021-06-25 07:18] ashishranjan1457 opened #412 "Problem getting external metrics into prom adapter"
Hi,
I am trying to configure custom/external metrics from our rabbitmq cluster (non k8s) to use for autoscaling some pods in our cluster through HPA.
I am having trouble creating the rules config for the same, since I intended to use the external metrics (non-namespaced) I followed @dgrisonnet 's advice from issue: https://github.com/kubernetes-sigs/prometheus-adapter/issues/403 to create image fr

[2021-06-25 15:37] dgdevops opened #413 "Two metrics in seriesQuery"
Hello,

I would like to create a custom metric using PromQL query containing two metrics as seriesQuery.
The PromQL query would be the following:
`sum(tomcat_threads_busy_threads{service!="",pod!=""}) by (pod)/sum(tomcat_threads_config_max_threads{service!="",pod!=""}) by (pod)`

Example output for the query above:
`{pod="myapps-69df74dc76-8bs59"}
`

I tried the following configuration:
[code]

Up

[2021-06-29 16:16] dgrisonnet opened #414 "Migrate images to official k8s.gcr.io registry"
Now that the project is in kubernetes-sigs, we should move the prometheus-adapter images to the official k8s.gcr.io registry and stop using the unofficial alternatives that we currently have on docker hub and quay. We will be able to automate the build process better as well as making images more auditable and secure in general.

Tasks based on https://github.com/kubernetes/k8s.io/tree/master/k8s.

[2021-07-01 16:41] Lord-Y commented on #412
I got the same issue than you. In version v0.8.4, namespaced is not defined in this block: https://github.com/kubernetes-sigs/prometheus-adapter/blob/b67ac3e747070887f06751ed6cfb4892d4ea08af/pkg/config/config.go#L51 VS master branch https://github.com/kubernetes-sigs/prometheus-adapter/blob/7cd63baccfc68b134ba96062d72efde87e3782cb/pkg/config/config.go#L51

[2021-07-01 18:23] dgrisonnet commented on #412
Hi @ashishranjan1457, you have misconfigured the top-level rule. It should be:
[code]
That made me notice that the documentation for external metrics is incorrect, we should replace `external:` by `externalRules:` in the examples in https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/externalmetrics.md. Anyone of you wants to open a PR to fix that?

[2021-07-01 18:26] dgrisonnet commented on #403
Hey @neeraj201 sorry for the late reply, were you able to fix your issues?

If you not, could you please share your prometheus-adapter config alongside prometheus-adapter logs?

[2021-07-01 18:57] dgrisonnet commented on #411
This is not possible yet, but it would be a good addition to the project. Although, this will require quite a lot of changes since we would need to rework prometheus-adapter's logging to use [structured logging](https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/).

[2021-07-02 06:16] ulfmansson commented on #292
I see the same issue as well in v0.8.4 and kubernetes 1.20 in eks with another namespace
Could you reopen this?

[2021-07-02 07:20] ashishranjan1457 commented on #412
Thanks @dgrisonnet, that worked for me.

Have raised a PR for this.

[2021-07-02 07:20] #412 closed

[2021-07-02 23:03] nsharma-fy commented on #403
@dgrisonnet, thanks for the follow-up. Yes, it is still an issue. I will recreate the setup again next week and provide the requested information.

[2021-07-05 15:23] Adamyounger opened #422 "Panic when trying to use "namespaced: false" in external rule definition"
Hi,

I'm trying to use the namespaced: false option for an externalRule, to auto scale on Nats (jetstream) message queues. Here is the rule definition in my config.ymal

[code]

This was installed using the prometheus-community/prometheus-adapter. (v2.14.2). This has installed prometheus-adapter:

directxman12/k8s-prometheus-adapter-amd64:v0.8.4

All looks good according to the docs, https://githu

[2021-07-06 15:51] dgrisonnet commented on #414
Images are now successfully being built to the [staging gcr registry](https://console.cloud.google.com/gcr/images/k8s-staging-prometheus-adapter/GLOBAL), so we can close this issue.

[2021-07-06 15:51] #414 closed

[2021-07-06 15:53] fpetkovski commented on #422
Hi @Adamyounger, I think you're using an outdated image for the adapter. Could you try using one of the newly built images from here: https://console.cloud.google.com/gcr/images/k8s-staging-prometheus-adapter/GLOBAL. Please let me know if this resolves your problem.

[2021-07-06 15:59] fpetkovski commented on #413
Hey @dgdevops, this is an error coming from prometheus. Could you set the verbosity to `-v=6` and check the query which is executed in the adapter logs?

[2021-07-07 12:23] Adamyounger commented on #422
Hi @fpetkovski, I suspected that was the case after looking at all the code, the "master" version from the repository you gave solved the problem. Is there a repository with official versioned builds? I'm worried about picking up a nightly version.

Cheers
Adam

[2021-07-07 12:31] dgdevops commented on #413
Hello @fpetkovski,
Thanks for your response, I decided to aggregate the `tomcat_threads_busy_threads` & `tomcat_threads_config_max_threads` into one in order to have only one metric in the seriesQuery. With that approach it works fine. In case there will be need for another seriesQuery with two metrics I will test the verbosity parameter in Prometheus, thanks for the suggestion.

[2021-07-07 14:11] fpetkovski commented on #422
Hey, that's a good question. We recently started publishing images to GCR so we don't have all the tags in there. You can pick up 0.8.4 from quay if you want the latest release version: https://quay.io/repository/coreos/k8s-prometheus-adapter-amd64?tab=tags

[2021-07-07 14:12] fpetkovski commented on #413
Sounds great and thanks for getting back quickly. Feel free to close the issue if you have no more questions.

[2021-07-07 16:02] #413 closed

[2021-07-08 07:48] dgrisonnet opened #425 "Decouple /metrics endpoint from generic apiserver"
Prometheus-adapter /metrics endpoint exposes metrics about the adapter health and these metrics are currently entirely coming from the generic apiserver implementation which installs the metrics handler on the same server as the one used to serve the metrics API to the apiserver.
This becomes problematic when we want to add authz/authn to metrics scraping since one would have to be authorized by t

[2021-07-08 08:09] dgrisonnet opened #426 "Update deployment manifests and instructions"
Deployment manifests and instructions are very outdated in the project since the community has been solely updating the kube-prometheus manifests. It would be great to leverage the efforts that were made there and update the manifests that we have in this repository.

[2021-07-08 08:16] dgrisonnet opened #427 "Generate deployment manifests from jsonnet"
Since most of the projects in the kube-prometheus ecosystem are using jsonnet to generate their manifests, it would be great to do the same in prometheus-adapter.

We could bring the [prometheus-adapter.libsonnet](https://github.com/prometheus-operator/kube-prometheus/blob/main/jsonnet/kube-prometheus/components/prometheus-adapter.libsonnet) file from kube-prometheus here and include it in kube-pr

[2021-07-08 08:29] dgrisonnet opened #428 "Add github issue template"
Support issues opened against prometheus-adapter have common patterns and we end up always asking for the same information. So it would be nice to add an issue template so that users can provide the information we need to help them directly.

[2021-07-08 08:29] dgrisonnet commented on #428
/assign @fpetkovski

[2021-07-08 08:39] dgrisonnet opened #429 "Improve image registry documentation"
Prometheus-adapter recently migrated to `gcr.io` as its official image registry. So the official prometheus-adapter images will now be available on http://k8s.gcr.io/prometheus-adapter/prometheus-adapter and staging images on https://gcr.io/k8s-staging-prometheus-adapter. However, since the new promotion process requires the image build process to be verifiable, we can't push images from older rel

[2021-07-08 08:40] fpetkovski commented on #429
/assign @fpetkovski

[2021-07-08 08:41] fpetkovski commented on #428
/assign @fpetkovski

[2021-07-08 13:48] rafaeltovargarrido opened #430 "Prometheus adapter doesn't take seriesQuery correct."
Hello guys, I having one issue with this adapter.

I have in my prometheus this data:

Query:

`{__name__=~".+stackdriver_.+"}`

values:

[code]
In my config map to the adapter I have:

configMap:

[code]

When I try to get the custom metrics across api I can't see my metrics.

`kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1" | jq .`

[code]

If I try to use other configMap like this:

[co

[2021-07-12 12:54] championshuttler commented on #426
@dgrisonnet, can you help me with getting started what i need to do? thanks

[2021-07-13 14:29] dgrisonnet commented on #426
Sure, so the goal of this issue is to update the deployment manifests and instructions that we have in this repository under the [deploy](https://github.com/kubernetes-sigs/prometheus-adapter/tree/master/deploy) directory based on the more up-to-date manifests in kube-prometheus that are prefixed by `prometheus-adapter-` in the [manifests](https://github.com/prometheus-operator/kube-prometheus/tre

[2021-07-15 07:01] fpetkovski opened #433 "Add jsonnet configuration files"
Jsonnet configuration for the prometheus adapter is currently managed in [kube-prometheus](https://github.com/prometheus-operator/kube-prometheus). Do we want to migrate the bulk of it to this repository and simply import it in kube-prometheus instead?

[2021-07-15 15:32] #369 closed

[2021-07-15 16:08] #429 closed

[2021-07-19 12:41] dgrisonnet commented on #433
Yes, that's the direction we want to go with in kube-prometheus. This effort is currently tracked in 2 different tasks, one to first update the manifests and deployment instructions and then an effort to migrate to jsonnet and generate the manifests:

- #426
- #427

[2021-07-20 15:51] kjstart opened #437 "[Help] How to query metrics with dynamic labelFilter?"
I need to query pending messages on the ActiveMQ metrics, with a parameter destination.
How can I pass this destination by API requests like below? Thanks a lot!

`kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/default/metrics/test_query?selector=foo"`

Now I only can fix the destination in metricsQuery and if I change another destination, I need to create another query.

[code]

[2021-07-20 16:26] kjstart commented on #437
For example, if I create a query like this:
[code]

When I run the query below, in the adapter log, I cannot find it queries with destination, also the result does not match.

`kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/default/metrics/test1?selector=destination%3DtestQueueA"`

[code]

Actual data on the queue:
![image](https://user-images.githubusercontent.com/2688027/12636

[2021-07-22 12:39] dgrisonnet commented on #425
cc @prashbnair

[2021-07-22 22:54] B-Souty commented on #422
Hi @fpetkovski, I'm having the same issue even with the v0.8.4 image from quay. When can we expect to have a proper tag in the gcr registry?

[2021-07-23 07:41] fpetkovski commented on #422
Hi @B-Souty, could you try using the latest image in the staging registry: https://console.cloud.google.com/gcr/images/k8s-staging-prometheus-adapter/GLOBAL/?

We don't have a concrete date for the new release as we are still trying to resolve some blockers.

[2021-07-23 13:12] B-Souty commented on #422
Sorry I should have mentioned that yesterday, I did use the latest image in this registry (using sha256 tag) and it did fix the issue with the `namespaced: false` option.

[2021-07-24 08:15] jayesh-srivastava commented on #427
Hi. I am a new contributor and I would like to work on this issue. Can you please guide me through this and assign me the issue?

[2021-07-26 06:24] #433 closed

[2021-07-26 06:24] fpetkovski commented on #433
Closing as duplicate

[2021-07-27 11:42] fpetkovski commented on #422
@Adamyounger were you able to resolve your problem with the latest image? I am wondering if what @B-Souty is running into is a different problem

[2021-07-29 10:53] siddharth-mitra commented on #393
Hi @JulesBelveze
Have there been any updates/developments on the issue?

[2021-08-02 18:54] JulesBelveze commented on #393
Hey @siddharth-mitra I didn't manage to have it to work and finally went away from DCGM 😸

[2021-08-09 08:40] leoskyrocker commented on #264
Can this be re-opened? Doesn't seem like the issue is resolved, and what @nvanheuverzwijn is suggesting seems legitimate.

[2021-08-09 08:42] leoskyrocker commented on #264
/reopen

[2021-08-09 11:53] visrey opened #439 "Unable to connect to prometheus with username and password"
I have recently added basic auth of username and password for my prometheus instance and after that adapter has issues while connecting to prometheus instance.

I have tried using the `prometheus-auth-config` parameter with `--prometheus-use-auth=true`, It gives me unknown flag.

[2021-08-09 14:38] fpetkovski commented on #439
Hello :wave:, have you tried using the latest version of the prometheus adapter?

[2021-08-10 12:49] B-Souty commented on #422
@fpetkovski Based on his previous comment:

It looks like his issue was also fixed by using the latest image in gcr

[2021-08-10 13:15] fpetkovski commented on #422
Ah sorry, I completely misread your previous comment. I thought the issue was _not_ fixed. We added documentation on where upcoming release images will appear: https://github.com/kubernetes-sigs/prometheus-adapter#official-images

We haven't cut a new release yet since we are blocked by a few upstream projects. The only workaround we can offer for now is using the staging images. There's nothing f

[2021-08-10 20:37] AgustinNormand opened #441 "[Help] How to sum metrics?"
Hi,

I need some help with this: Is it possible to sum two metrics with prometheus-adapter?
I have this two metrics in prometheus:
[code]
[code]
I want to expose a metric with value 4, so I wrote this rule. That use a regex to match both queues, because their names end in "cluster-appliers"
[code]
But the value that returns, is the sum of all the rabbitmq queue depths

Thank you very much!!

[2021-08-11 10:31] guidoilbaldo commented on #392
Hello @sergdpi , I'm trying to do almost the same query that you did with AWS SQS number of messages visible. Mine actually looks like this:
[code]

Sadly, I get the following in my adapter logs
[code]

The GET to prometheus returns an empty result even though there are metrics in Prometheus itself
[code]

So, I'm not able to get those metrics in k8s external apis (even though I have other externa

[2021-08-11 10:50] visrey commented on #439
Hi @fpetkovski

Yes we tried with the latest version of prometheus adapter.
**Steps we followed:**

1. We have a working environment where prometheus and prometheus adapter are in the same cluster.
2. We have added basic authentication to prometheus with a username and password.
3. After the auth changes prometheus adapter failed to get the metrics.
4. After digging through code we found few param

[2021-08-11 11:02] fpetkovski commented on #439
Ok understood. There is no explicit way to configure basic auth, but you can specify the prometheus headers with `--prometheus-header`: https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/cmd/adapter/adapter.go#L139

[2021-08-11 11:57] visrey commented on #439
Thanks @fpetkovski
Will give it a try and post an update

[2021-08-11 12:18] visrey commented on #439
Hi @fpetkovski
I think the changes you were pointing were committed 25 days back but the current release was on march 31 so we don't have the support currently.
Is there any release planned to push this change ?

Thanks

[2021-08-11 13:00] fpetkovski commented on #439
We haven't published a new release yet, but you can use the latest tag from the staging registry: https://console.cloud.google.com/gcr/images/k8s-staging-prometheus-adapter/GLOBAL/prometheus-adapter?gcrImageListsize=30

It corresponds to the current HEAD in master.

[2021-08-11 13:44] AgustinNormand commented on #441
Hello,

This is the answer:
[code]

[2021-08-11 13:44] #441 closed

[2021-08-11 15:50] dgrisonnet commented on #427
Hi @jayesh-srivastava, sorry for the delay. Sure, if you are still interested in working on this issue, I can guide you.

What we want to do here is to have manifests generated from [jsonnet](https://jsonnet.org/). In kube-prometheus, the prometheus-adapter manifests are already generated from this [jsonnet library](https://github.com/prometheus-operator/kube-prometheus/blob/main/jsonnet/kube-prom

[2021-08-11 16:03] jayesh-srivastava commented on #427
Hey @dgrisonnet Thank you for the guidance. I see this issue is closed. So probably I can't work on this right?

[2021-08-11 16:32] dgrisonnet commented on #427
This issue is still opened, I closed a duplicate. If you want to work on this feel free to assign this issue to yourself by commenting `/assign`.

[2021-08-11 16:34] jayesh-srivastava commented on #427
Ok thank you much.

[2021-08-11 16:34] jayesh-srivastava commented on #427
/assign

[2021-08-12 12:44] guidoilbaldo commented on #392
I've found the solution to my problems myself and I'm posting them here in case someone else might incur in the same issues.
I'll start from the helm chart `values.yaml` parameters that I've added:
[code]
So, the adapter is fairly straightforward: I've been using the stage image as suggested in another issue because, this way, I've been able to set the metric with the `namespaced: false` parameter

[2021-08-12 12:54] fpetkovski commented on #392
Great stuff, thank you for posting the solution :)

Can this issue be closed now?

[2021-08-16 11:26] dgrisonnet opened #445 "Release v0.9.0"
[code]

[2021-08-16 11:26] dgrisonnet commented on #445
/cc @s-urbaniak @fpetkovski

[2021-08-17 08:37] s-urbaniak commented on #445
lgtm :+1:

[2021-08-17 15:03] bluejam0303 opened #446 "Is there any document about "resourceRules" ?"
Hi,

I am able to see the relate documents about "rules" and "externalRules" in prometheus-adapter/docs .
But it look like no document explain the resourceRules ~
Do you consider writing some documents for it ?

[2021-08-18 10:12] leoskyrocker commented on #430
Hi, for stackdriver, there's a delay on when metrics will show up. It might be relevant to the configuration I've recently added clarification on in this [PR](https://github.com/kubernetes-sigs/prometheus-adapter/pull/442/files)

[2021-08-23 07:40] fpetkovski commented on #445
/lgtm

[2021-08-25 08:59] fpetkovski commented on #437
Hi @kjstart, custom metrics are intended only for resources which are present in Kubernetes, such as deployments, services, etc. For your use case, you should be using external metrics. Could you try doing that and see if it solves your problem?

[2021-08-27 06:58] Luis-TT opened #449 "/apis/metrics.k8s.io/v1beta1/nodes not returning windows nodes"
I am running the prometheus-adapter as part of kube-prometheus and have added windows as part of the windows addon. Metrics of the windows nodes are being shown in grafana dashboards, prometheus, etc. but when I want to fetch /apis/metrics.k8s.io/v1beta1/nodes, only the linux nodes of my cluster are returned.
This also leads to the fact that "kubectl top nodes" does not return metrics for the wind

[2021-08-29 17:06] Luis-TT commented on #449
Never mind. I fixed kubectl top nodes by adding a node label to my windows prometheus exporters 👍

[2021-08-29 17:06] #449 closed

[2021-09-01 10:42] WoodProgrammer opened #450 "Prometheus Adapter Query"
Hi everyone,
I want to run that query shown at below.But when I try to reach out custom.metrics endpoint.That is returning no value like that:

results of the command

[code]
Query Definitions:
[code]
The main problem is, when I try to run my custom query, prometheus adapter does not return any expected values.

How can I resolve that issue

Thanks.

[2021-09-01 17:43] #390 closed

[2021-09-02 09:47] mfamador commented on #422
I've just tried the `0.9.0` tag and I guess this issue is already solved. No panic anymore.

[2021-09-06 14:50] dgrisonnet commented on #445
Closing since prometheus-adapter v0.9.0 was released: https://github.com/kubernetes-sigs/prometheus-adapter/releases/tag/v0.9.0.

[2021-09-06 14:50] #445 closed

[2021-09-08 04:27] prashbnair commented on #425
/assign prashbnair

[2021-09-08 18:17] alniheli commented on #409
Hi @Zongshun96,

_demo_app_button_clicks_total[2m]_ returns a range vector.

You need an instant vector as described in the tutorial.

Try _sum(rate(<<.Series>>{<<.LabelMatchers>>}[2m]))_ by (<<.GroupBy>>).

[2021-09-14 21:45] sgpinkus opened #452 "README.md :: Installation :: What if I'm not using helm"
Installation section says:

but gives no additional details about how to install if not using helm. Please add a note on how to install without helm.

[2021-09-15 19:49] kjstart commented on #437
Just query by parameter metricLabelSelector
Ie:
kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/default/metrics/test1?metricLabelSelector=destination%3DtestQueueA"

[2021-09-15 19:49] #437 closed

[2021-09-16 08:53] nudles commented on #450
Hi, I got a similar issue where the returned items are empty, i.e. `"items": []`
Have you resolve it?

[2021-09-16 08:56] nudles commented on #393
I got the similar issue.
How to check the prometheus-adapter logs? I used --v=6. but I cannot see any queries in the log.

[2021-09-16 09:21] dgrisonnet commented on #393
Setting `--v=6` will log the query sent to Prometheus in the logs. Try looking for your Prometheus endpoint or your metric name in the logs, it might help you find where the queries are.

[2021-09-16 10:42] nudles commented on #393
Thanks. I just found the query.
After pasting the query into the browser, I got
`{"status":"success","data":[{"__name__":"my_metric", "cluster":"serverless","container":"server","endpoint":"http","instance":"172.18.201.89:8124","job":"serverless/serverless","namespace":"serverless","pod":"serverless-0"}]}
`

It seems normal (I compared it with the output from the query of the `http_request_total`

[2021-09-16 15:08] nudles commented on #393
I fixed the issue by changing the metricQuery from `sum(...)` to `sum(...) by <<.GroupBy>>`.
I guess the error was because when the adapter sends the query (extracted from the adapter's log) to prometheus, the result's metric field is empty when using `sum()`.

[2021-09-16 15:11] dgrisonnet commented on #393
Glad that you worked it out @nudles.

Closing this issue since the original poster seems to have worked around their problem.

[2021-09-16 15:11] #393 closed

[2021-09-18 18:37] #361 closed

[2021-09-21 09:40] prashbnair commented on #450
Hey @WoodProgrammer the count:up1 metric does not have a pod label and therefore that part of the query does not return any data which results in an empty result.

[2021-09-21 10:29] alniheli commented on #450
API Paths

[code]
[code]
[code]

[2021-09-21 14:11] nudles commented on #450
I have fixed the issue. It is caused exactly as @prashbnair pointed. The metricsQuery in the rule should return a metric per pod if you want to call the API like `/apis/custom.metrics.k8s.io/v1beta1/namespaces/default/pods/*/<metric_name>`

[2021-09-21 16:28] perezjasonr commented on #385
@dgrisonnet

so going off the link you provided i made my values file this:

[code]

but i still cant get kubectl top nodes (or a node) to work, only top pods/pod. is there something further that needs to be modified here? I also changed "instance" to "node" in those last couple lines and its the same output.

[code]

[2021-09-21 16:40] perezjasonr commented on #398
im still seeing this, even after changing instance to node in overrides.

[2021-09-22 11:31] difrost commented on #292
I can confirm this issue is still in 0.9.0. I'm running on kube 1.20.10.

[2021-09-22 15:50] carsonoid commented on #323
/remove-lifecycle rotten

On Wed, Sep 22, 2021 at 7:17 AM Kubernetes Triage Robot <
***@***.***> wrote:

[2021-09-24 11:00] yevsh opened #456 "prometheus-adapter filters out the metrics"
in prometheus-adapter pod log I see it runs this query:

`
GET /apis/custom.metrics.k8s.io/v1beta1/namespaces/my_namespace/pods/%2A/my_metric?labelSelector=app%3Dmy-service%2Capp.kubernetes.io%2Finstance%3Dmy-service
`

The problem is with this:

 labelSelector=app%3Dmy-service%2Capp.kubernetes.io%2Finstance%3Dmy-service

 this filter filters out the metrics (from where this filter is added?)

 Wh

[2021-09-26 07:52] silenceper commented on #456
same issue

[2021-09-27 07:34] prashbnair commented on #456
@yevsh Do you have HPA set up?

[2021-09-27 08:20] silenceper commented on #456
I have solved this problem because the pod that exposes the indicator is not the pod specified by hpa.

[2021-09-27 09:03] jmcastellote commented on #292
Same here with prometheus-community helm chart `2.17.0` and prometheus adapter `0.9.0` on k8s `1.17`.
@shardulsrivastava 's workaround is a charm but you of course give up on those additional rules.

[2021-09-29 12:30] perezjasonr commented on #385
so i dont know why but changing back to the format that the readme/docs had for resources section fixed kubectl top nodes.

[2021-09-29 12:31] perezjasonr commented on #398
i undid the node overrides and put it back to how the readme has it, seems to have resolved the issue for me

[2021-09-30 11:13] MioOgbeni commented on #292
I'm also facing this problem with prometheus-community helm chart `2.17.0`, prometheus-adapter `0.9.0` and k8s `v1.21.2-eks-0389ca3` (it is AWS EKS 1.21)

Only solution is @shardulsrivastava 's workaround, but this drop major prometheus-adapter functionality, which we need. :(

[2021-09-30 21:57] ankitpatel96 opened #458 "Exposing Internal ("self") metrics"
Hi,
Is there any access to internal metrics on prometheus-adapter>  From what I can see the client registers a prometheus registry at https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/pkg/client/metrics/metrics.go - but I can't find anywhere that this is exposed over http (or any docs on the topic).

Thanks for the project by the way - its been very useful for us.

Thanks,
- Ankit

[2021-10-03 17:13] Gwojda commented on #292
Still facing the same bugs. Any help? Please re-open.

[2021-10-04 10:59] prashbnair commented on #458
It is exposed on the same endpoint as the one used to serve the metrics API to the api server.
You can take a look at this for your reference
https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/deploy/manifests/custom-metrics-apiserver-service.yaml#L9

[2021-10-04 23:01] ankitpatel96 commented on #458
Thanks for the reply Prashant - but the issue is I don't really know how to access this?  If I simply add it to my scrape targets and scrape it at port 6443/metrics Prometheus complains of "server returned HTTP status 400 Bad Request".  If I try to curl "/metrics" from another pod or by port-forwarding the pod to my machine I get:
`{
"kind": "Status",
"apiVersion": "v1",
"metadata": {},
"status":

[2021-10-05 15:03] yevsh commented on #456
@silenceper can you elaborate please?

[2021-10-05 19:31] B-Souty commented on #422
@mfamador Good to know, I'll give that a try and report back.

[2021-10-06 12:47] fpetkovski commented on #428
/remove-lifecycle stale

[2021-10-06 12:52] fpetkovski commented on #428
Fixed through https://github.com/kubernetes-sigs/prometheus-adapter/pull/438

/close

[2021-10-06 12:52] #428 closed

[2021-10-11 22:32] iomarcovalente commented on #292
Running v0.9.0 on k8s 1.17 and am seeing the same error. Adapter starts fine but it then immediately logs this:
[code]
at regular intervals

[2021-10-12 06:03] #396 closed

[2021-10-14 19:32] davivcgarcia commented on #398
I was facing the same problem with Amazon EKS version `1.21-eks.2` with both, `prometheus-server` and `prometheus-adapter` installed using the community Charts, using the example in the README. The version are as below:

[code]

Following the workaround proposed by @junaid-ali, I was able to make it work changing the association of resource `nodes` to the label `instance` (instead of the original

[2021-10-17 13:59] yevsh commented on #456
Thank you, think this is helping, I will do the required tests.

[2021-10-18 07:57] SockenSalat opened #462 "Where to pull the image from?"
Where do I find the image for the adapter?

`https://k8s.gcr.io/prometheus-adapter/prometheus-adapter` returns 403.

Thnx.

[2021-10-18 14:00] joeynaor opened #463 "Empty item list but successful HTTP request"
**What happened?**:
I am getting an empty list under 'items', even though the HTTP request sent from prometheus-adapter to the prometheus server is successful and its response includes the desired data.

[code]

**What did you expect to happen?**:
To have 162 under 'items'.

**Please provide the prometheus-adapter config**:
<details open>
<summary>prometheus-adapter config</summary>

[code]
</deta

[2021-10-22 07:26] #462 closed, assigned to nobody

[2021-10-23 08:56] yevsh opened #464 "Metric not fetched with complex query"
Prometheus adapter Rule:

[code]

kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1" | jq .

output:
[code]
kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/the-namespace/metrics/custom_metric" | jq .

output:

`Error from server (NotFound): the server could not find the metric custom_metric for namespaces the-namespace
`
When I execute query from promotheus web-ui I see the

[2021-10-24 13:41] #463 closed, assigned to nobody

[2021-11-01 19:50] ankitpatel96 commented on #458
I'm really sorry for dropping this thread - this problem still very much exists but I just missed the update lol.

Prometheus is bound to this clusterrole via a clusterrolebinding:

[code]

[2021-11-02 11:22] prashbnair commented on #458
This looks fine, do you have any settings in the deployment of the prometheus-adapter which sets any additional requirements?

[2021-11-05 08:56] #383 closed

[2021-11-05 09:32] szediktam commented on #439
how to set the `Authorization` header？
--prometheus-header="Authorization=Basic aGhoOmhoaA==" ?

[2021-11-05 13:11] frederiksf opened #466 "Windows support"
Does the prometheus adapter implement support for windows workloads (node and pods). After deploying the prometheus-adapter instead of metric-server the command kubectl top node only gives metrics back for linux and not for our windows and. For pods the same story. Linux pod metrics ok but not available for Windows.

[2021-11-09 23:22] michaelfavia commented on #452
@sgpinkus you can use the helm cli tool (`helm template`) to output regular YAML if you'd like and then just k apply the files it generates. I'd add that now that helm3 doesnt require Tiller its a great solution for managing things like this and ingress controllers, etc.

Good luck :)

[2021-11-15 08:27] frederiksf commented on #466
Anyone

[2021-11-16 21:36] abursavich opened #467 "Docs use incorrect URL parameter"
**What happened?**:

I followed the [walkthrough](https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/walkthrough.md) doc to test my configuration, but couldn't get selectors to work as expected.

**What did you expect to happen?**:

I expected the walkthrough document to be accurate :)

**Anything else we need to know?**:

The docs demonstrate one URL query parameter, `selector

[2021-11-17 01:56] bcastilho90 opened #468 "Unable to get request count by ingress to use on HPA"
**What happened?**:

I'm using ingress-nginx and I'm also trying to get a rule configured correctly to return the number of requests for an ingress, however the metric is not appearing when attempting to divide value by number of pods.

**What did you expect to happen?**:

Metric to return a value.

**Please provide the prometheus-adapter config**:
<details open>
<summary>prometheus-adapter config

[2021-11-17 21:53] bcastilho90 commented on #468
I was able to make it work by adding a label that matches the <<.GroupBy>> to the denominator dataset.

Another question though, is it possible to reference a particular resource directly, instead of using everything coming from <<.LabelMatchers>>. The query should be using both namespace and ingress resources, but I would like to use only the namespace. Is there a way to specify something directl

[2021-11-22 10:31] ErwinRebergen commented on #466
Same issue here. Anyone?

[2021-11-23 14:19] dgrisonnet commented on #466
The kube-prometheus project has a windows specific configuration for prometheus-adapter: https://github.com/prometheus-operator/kube-prometheus/blob/main/manifests/prometheus-adapter-configMap.yaml. It requires to run https://github.com/prometheus-community/windows_exporter to get metrics from windows nodes. However, it is not possible today to get metrics from windows pods since kubernetes relies

[2021-11-24 09:44] Korijn commented on #292
Another vote from me that this is still an easy with k8s 1.20

[2021-11-24 11:08] NasAmin opened #469 "Multiple Rules via a CRD across the cluster"
**Problem Statement**
Multiple services using a single cluster wide instance of `prometheus-adapter`. Teams are forced to update the single ConfigMap of prometheus-operator owned by the platform team. This makes it hard for teams to be autonomous

**Desired Solution**
* Teams can create rules in their own source code repositories via a CRD like `PrometheusRule`
* An operator pulls all the the CRDs

[2021-11-24 11:13] dgrisonnet commented on #292
This issue was closed because the original panic that was reported was fixed in v0.8.3. Since the symptoms that you are reporting are similar to the original issue but the problem in itself is different, I would prefer that you file a separate issue since this one has been reported different problems over time.

Also, as I mentioned before in https://github.com/kubernetes-sigs/prometheus-adapter/i

[2021-11-25 13:10] qiankunli opened #470 "how to use part label"
there is a metric  `volcano_queue_allocatable_milli_gpu{instance="192.168.41.22:30005",job="volcano-scheduler",queue_name="default"} `

volcano_queue_allocatable_milli_gpu only have label `queue_name` and have not label `kubernetes_namespace`

rules:
[code]
if i use rule above, `kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/default/queues.scheduling.volcano.sh/dev/volcano_queue

[2021-11-28 13:38] #385 closed

[2021-11-28 20:42] #411 closed

[2021-11-29 06:56] TheMeier commented on #411
/reopen

[2021-11-30 00:24] #403 closed

[2021-11-30 08:48] karolmigo opened #471 "message:unable to list matching resources, code:500 when trying to access custom metrics"
**What happened?**:

Tried to list custom metrics with a following command: ``` kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1/namespaces/default/staging/*/http_requests" | jq .```

**What did you expect to happen?**:

Get me a list of metrics.

**Anything else we need to know?**:

The get call crashed with:

[code]

**Environment**:
- prometheus-adapter version: 0.9.1
- prometheus version

[2021-12-02 06:39] prashbnair commented on #470
Could you remove the kubernetes_namespace from the resource overrides section as the LabelMatcher will try to add it metrics query.

[2021-12-02 06:40] prashbnair commented on #471
Could you share your adapter config file?

[2021-12-02 11:10] razorxster opened #473 "Error from server (Forbidden): pods.custom.metrics.k8s.io"
**What happened?**:

I got forbidden error messsage when try to get a custom mot metric

**What did you expect to happen?**:

Error from server (Forbidden): pods.custom.metrics.k8s.io "*" is forbidden: User "u-ckvrz" cannot get resource "pods/memory_usage_bytes" in API group "custom.metrics.k8s.io" in the namespace "metrictest"

[code]
Custom.metrics.k8s.io looks ok:
[code]

Metrics.k8s-io apiserv

[2021-12-03 16:06] #394 closed

[2021-12-09 18:28] dgrisonnet commented on #427
/remove-lifecycle rotten

[2021-12-13 19:51] #398 closed

[2021-12-13 22:52] cskarby opened #474 "Upgrade APIService manifests to apiVersion: apiregistration.k8s.io/v1"
https://github.com/kubernetes-sigs/prometheus-adapter/blob/c9e69613d3e1ccf4a5828aba25de613d84694779/deploy/manifests/custom-metrics-apiservice.yaml#L1 is not working with kubernetes v1.22+

The apiregistration.k8s.io/v1beta1 API version of APIService is no longer served as of v1.22.

* Migrate manifests and API clients to use the apiregistration.k8s.io/v1 API version, available since v1.10.
* No n

[2021-12-21 23:33] youssefbouzaine opened #475 "Unable to create external metric for kafka lag exporter"
I'm actually getting an error whenever i'm trying to use kafka-lag-exporter

`periodic_metric_lister.go:60] unable to update list of all metrics: unable to fetch metrics for query "{__name__=~\"^kafka_consumergroup_group_lag$\"}": bad_response: invalid character '#' looking for beginning of value`

So i m not able to generate my external metric to handle my HPA

and when i try to get prometheus me

[2022-01-05 10:08] prashbnair commented on #450
/close

[2022-01-05 10:08] #450 closed

[2022-01-05 10:09] prashbnair commented on #425
/remove-lifecycle stale

[2022-01-07 17:15] jfroment opened #478 "Segmentation violation thrown when using Bearer authentication"
**What happened?**:

When the adapter starts, it crashes with the following error when attempting to connect to Prometheus (actually Thanos Querier) when I enable the ``--prometheus-token-file`` flag.
(the following line is the cause: https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/cmd/adapter/adapter.go#L116)

[code]

**What did you expect to happen?**:

I expected to see Promet

[2022-01-10 18:56] dgrisonnet commented on #425
To solve this issue we can set `--authorization-always-allow-paths=/metrics` to disable authorization on the metrics endpoint.

[2022-01-10 18:56] #425 closed

[2022-01-11 06:39] chymy opened #479 "error creating self-signed certificates: open /var/run/serving-cert/apiserver.crt: permission denied"
**What happened?**:
When I deploy `kube-prometheus-0.10.0` on k8s, `prometheus-adapter` pod status is `CrashLoopBackOff`:

**What did you expect to happen?**:
`prometheus-adapter` runs successfully.
**Please provide the prometheus-adapter config**:
<details open>
<summary>prometheus-adapter config</summary>

[code]

</details>

**Please provide the HPA resource used for autoscaling**:
<details ope

[2022-01-14 16:23] #446 closed

[2022-01-16 04:32] #430 closed

[2022-01-16 14:15] alex-leichter opened #480 "AKS 1.21+: memory metric remains <unknown> and pods are not scaled down as expected"
Hello,

We're using adapter with the ConfigMap:

kind: ConfigMap
metadata:
  name: adapter-config
  namespace: monitoring
data:
  config.yaml: |
    rules:
    - seriesQuery: 'vds_requests_total'
      resources:
        overrides:
          namespace:
            resource: namespace
          pod:
            resource: pod
      name:
        matches: "^(.*)_total"
        as: "${1}_per_second"

[2022-01-20 04:59] junaid-ali commented on #398
I don't see the issue in `v0.9.1`

[2022-01-23 18:45] carsonoid commented on #323
/remove-lifecycle rotten

[2022-01-24 08:20] AhmadMS1988 commented on #473
I can confirm that I have a similar issue on prometheus adapter too for HPA metrics:
[code]
And this is another sample:
[code]
prometheus-adapter version: v0.9.1
prometheus version: 2.31.1
Kubernetes version (use kubectl version): v1.21.2-eks-06eac09
Cloud provider or hardware configuration: AWS EKS
Node OS: Bottlerocket OS 1.5.2 (aws-k8s-1.21)

[2022-01-26 16:14] pandagodyyy opened #483 "unable to get metric istio_requests_per_second"
Hi,

I'm trying set HPA for metrics istio_requests_per_second on service level. but it does not work.
I'm using helm chart to deploy the prometheus-adapter, configuration as below:
[code]
my HPA configuration is
[code]
When I generated load into target service, I could see incoming requests from the dashboard
![image](https://user-images.githubusercontent.com/61133973/151201478-d9f46dfe-f7e7-47af-

[2022-01-27 05:41] lli-hiya commented on #458
I managed to figure this out. Here is my solution.

I created a ServiceMonitor and under its spec/endpoints I have something like this
[code]
, which tells prometheus to pull metrics using the service account bearer token through an https endpoint.

and this is my service definition

[code]

[2022-02-04 09:12] dheerajjoshim opened #484 "Deploying multiple instances of prometheus adapter"
Hi
Is it possible to deploy multiple Prometheus adapters in the same cluster?
I was checking the chart and we create `APIService`, `ClusterRole`, and `ClusterRoleBinding` these must be deployed only once per cluster.

Does the current chart allow deploying cluster-level artifacts once and then deploying adapters within the scope of the namespace?

[2022-02-04 14:31] #422 closed

[2022-02-05 19:14] #409 closed

[2022-02-06 00:46] noskywalker commented on #474
i see ,and i have changed into v1.
but why dont'you change the original yaml file?